<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" accept="image/*" multiple (change)="selectFiles2($event)" />
    </label>
  </div>

  <div class="col-4">
    <button
      class="btn btn-success btn-sm"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Upload
    </button>
  </div>
</div>


<div>
  <img *ngFor='let preview of previews' [src]="preview" class="preview" width="120px" height="110px" style="margin-left:10px">
</div>
<p *ngIf="message2">Uploaded..</p>