<!--<p>my-ads works!</p>
<div>
    <ul *ngFor="let ads of myAds">
        <div id="myads_{{ads._id}}">
        <li>{{ads.title}}</li>
        <li>{{ads._id}}</li>
        <button  name="delete"  id="{{ads._id}}" type="button" value="delete Ads" (click)="deleteMyAds($event)"  >Delete Ads</button>
        </div>
    </ul>
</div>-->
<!DOCTYPE html>
<html>
    <head>
        <title>99Discount</title>
        <style>
            
        </style>
    </head>
    <body>
        <app-header></app-header>
        <aside class="sidebar-part">
            <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
                <app-profile></app-profile>
            </div>
        </aside>
        <section class="banner-part" style="height: 200px;">
            <div class="container">              
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-content">
                            <h2>My Ads</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">my-ads</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <section id="add-container">
                <div class="container-cus">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="add-content-header">
                                <h2>My Ads</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let ads of myAds">
                            <div class="add-content-box" id="myads_{{ads._id}}">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ads.image_url1}}" alt=""></figure>                                    
                                </div>
                                <div class="lower-content">                                    
                                    <div class="category" style="height: 30px;">
                                        <i class="fa fa-tags"></i>
                                        <p>{{ads.category}}</p>
                                    </div>
                                    <h3><a routerLink="/single-ad/{{ads._id}}" id="title_{{ads._id}}">{{ads.title}}</a></h3>                                    
                                    <ul class="info clearfix">
                                        <li><i class="fa fa-clock-o" style="left:7px;"></i>{{ads.date_created}}</li>
                                        <li><i class="fa fa-map-marker" style="left: 7px;"></i>{{ads.location}}</li>
                                    </ul>                                    
                                    <div class="lower-box">
                                        <h5>₹ {{ads.price}}</h5>
                                        <ul class="react-box">
                                            <li ><a ><i class="fa fa-trash" (click)="deletePost($event)" id="{{ads._id}}"></i></a></li>
                                            <li><a href="index.html"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row"  *ngIf="!myAds.length">
                        <div calss="col-md-12">
                            <div class="add-content-box">
                                <h3 class="my-ads-empty">No Ads Found</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="delete-modal-container" id="delete-modal">
                <div class="delete-modal-box">
                    <div class="delete-modal-header">
                        <h3>Confirm Delete</h3>
                        <span><svg (click)="closeDelete()" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
                    </div>
                    <div class="delete-modal-content">
                        <h5 id="popup-title"></h5>
                    </div>
                    <div class="delete-modal-footer">
                        <button (click)="closeDelete()">Cancel</button>
                        <button (click)="closeDelete()" id="delete">Delete</button>                        
                    </div>
                </div>
            </div>
        <app-footer></app-footer>
    </body>
</html>
