<div class="footer-end">
    <div class="container1">
        <div class="footer-end-content">
            <p class="footer-end">All Copyrights Reserved &copy; 2021 - Developed by <a href="#">Upspring.it</a></p>
            <ul class="footer-social">
                <!--<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>-->
            </ul>
        </div>
    </div>
</div>
