<header class="header-part">
    <div class="container">
        <div class="header-content">
            <div class="header-left">
                    <button *ngIf="loggedIn" onclick="clickLogo()" type="button" class="header-widget sidebar-btn" style="margin-left:-10px;"><i class="fa fa-align-left"></i></button> 
                    <a routerLink="/" class="header-logo"><img src="../../../assets/images/logo/logo-black-light.png" alt="logo"></a>
            </div>
            <form  class="header-form" style="margin-left:20px" name="postAds" #postAdsData = "ngForm" (ngSubmit) ="searchTerm(postAdsData.value)" id="search-form">
                <div class="header-search">
                    <button type="submit" title="Search Submit"><i class="fa fa-search"></i></button>
                   
                    <input  (keyup)="searchOnKeyUp($event)" (keyup.enter)="goto($event)" matInput type="text" [matAutocomplete]="auto"  placeholder="Find Mobile Phones,Bikes and more...."  name="searchTerm" ngModel>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-select (selectionChange)="someMethod($event.value)">
                        <mat-option *ngFor="let item of filteredOptions" [value]="item" >
                          {{item}}
                        </mat-option>
                      </mat-select>
                      </mat-autocomplete>
                    
                 <!--   <datalist id="SearchResults" style="width:200px">
                        <option *ngFor="let sr of results" [value]="sr" (click)="search()">{{sr}}</option>
                     </datalist>-->
                    <button type="button" title="Search Option" class="option-btn" onclick="headerOption()"><i class="fa fa-sliders"></i></button>
                </div>
                <div class="header-option" id="search-option" style="width: 600px;height:100px !important">
                    <div class="option-grid" style="height:140px">
                        <div class="option-group">
                            <input type="text" placeholder="Search City,Location,State" name="location" ngModel>
                        </div>
                        
                        <div class="option-group">
                            <select id="SearchResults" style="width: 100%;
                            height: 40px;
                            padding: 0px 15px;
                            border-radius: 6px;
                            background: #f5f5f5;border:none" ngModel name="category">
                            <option value="">Select Category for Search</option>
                            <option *ngFor="let sr of categoryList" value={{sr.category_name}}>{{sr.category_name}}</option>
                            </select>
                          
                        </div>
                       
                        <button type="submit" id="btn-search" (click)="closeSearch()"><i class="fa fa-search"></i><span>Search</span></button>
                    </div>
                </div>
            </form>
                <div  id="login" >
                    <div class="header-right" *ngIf="loggedIn" id="post-ads">
                        <button routerLink="/ShowCategory" style="width: 170px; height: 40px; background-color: #444; color: #fff; padding: 8px; border-radius: 5px;"><i class="fa fa-plus-circle" style="margin-right: 10px;"></i>Post Your ad</button>
                    </div>                    
                    <div class="header-right" *ngIf="loggedIn==false">
                        <button  routerLink="/login" data-dismiss="modal" style="width: 170px; height: 40px; background-color: #444; color: #fff; padding: 8px; border-radius: 5px;"><i class="fa fa-plus-circle" style="margin-right: 10px;"></i>Login</button>
                    </div>
                </div>

            </div>
    </div>
</header>
