.gallery-wrapper {
    text-align: center;
    margin-top: 50px;
    
  }
  
  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    /* width: 500px;
     height: 400px;
     border-color: #4a89ff;*/
  }