<!--<form name="postAds" #postAdsData = "ngForm" (ngSubmit) ="searchTerm(postAdsData.value)">
<label>Search Here</label>&nbsp;&nbsp;
<input type="text" (keyup)="searchOnKeyUp($event)" list="SearchResults" (change)="goto($event)"/>
<datalist id="SearchResults" >
   <option *ngFor="let sr of results" [value]="sr" (click)="goto()" id="test">{{sr}}</option>
</datalist>
<input type="submit" value="submit">
</form>-->
<div class="container">
  
    <form name="postAds" #postAdsData = "ngForm" (ngSubmit) ="searchTerm(postAdsData.value)">

      <mat-form-field>
       
        <input (keyup)="searchOnKeyUp2($event)" matInput type="text" ngModel name="searchTerm" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item.BrandName">
            {{item.BrandName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <input type="submit" value="submit">
    </form>
  
</div>