

    <app-header></app-header>
    <section style="background-color: #f6f7fb !important; height: 660px;">
        <div class="inlogin-box">
            <h3>User Already LoggedIn please use Some other Login</h3>
            <button routerLink='/login'>Back to Login</button>
        </div>
    </section>            
    <app-footer></app-footer>
    
