<app-header></app-header>
<div class="allButFooter" style="background-color: #f6f6f6;">
    <section class="alternative-seller-container">
        <div class="container">
            <!--<div class="alt-seller-header">
                <h4>All Seller</h4>
            </div>-->
            <div class="alt-seller-product-info">
                <div class="alt-seller-product-info-img">
                    <img src="{{image_url}}" alt="product-img" style="width: 60px;height: 70px;margin-top: -10px;
                    margin-left: -10px"/>
                </div>     
                <div class="alt-seller-product-info-header">
                    <span>{{title}}</span>
                </div>           
            </div>
            <div class="row">

                <div class="col-md-4" *ngFor="let recomment of recommentation">
                    <div class="alt-seller-card" *ngFor="let seller of recomment.getList">
                        <div class="alt-seller-card-img" *ngIf="seller.initial==true" >
                            <a >{{seller.photoUrl |uppercase}}</a>
                        </div>
                       <div class="alt-seller-card-img" *ngIf="seller.initial==false">
                            <img src="{{seller.photoUrl}}" alt="alternative-seller-profile-img" />                            
                        </div>
                        <div class="alt-seller-card-header">
                            <h4>{{seller.name}}</h4>
                        </div>
                        <ul class="alt-seller-card-rating" style="margin-left:75px">
                            <ngx-stars  [readonly]="true" [initialStars]="seller.avgRating"  [color]="'#FFD700'" [size]="2"> </ngx-stars>
                          
                        </ul>
                        <div class="alt-seller-card-footer">
                            <button routerLink="/single-ad/{{recomment._id}}">View Product</button>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>