

<!--<div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login with Google</h2>
    <div >
  <div *ngIf="loggedIn === false">
      <div>
        <button type="button" (click)="signInWithGoogle()" class="btn btn-danger">Login with Google</button>
        <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fab fa-facebook"></span>Login with Facebook</button>
      </div>
    </div>
  
    <div *ngIf="loggedIn === true">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
      </div>
  
      <button type="button" (click)="signOut()" class="btn btn-primary">Log Out</button>
    </div>
  </div>


<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signInWithGoogle()">Login with Google</button><br><br>
      <button class="btn btn-danger" (click)="signInWithFB()">Login with Facebook</button>
       </div>
  </div>
  <div *ngIf="socialUser" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img  class="card-img-top img-responsive photo" src="{{ socialUser.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ socialUser.name }}</h4>
      <p class="card-text">{{ socialUser.email }}</p>
      <p class="card-text">Logged in with {{ socialUser.provider }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
    <div class="card-block" *ngIf="socialUser.provider === GoogleLoginProvider.PROVIDER_ID">
      <button class="btn" (click)="refreshGoogleToken()">Refresh google token</button>
    </div>
  </div>
</div>-->

<!DOCTYPE html>
<html>
    <head>
        <title>99Discounts</title>
        <style>
            @font-face {
            font-family: 'Ubuntu-Titling';
            src: url('../../../assets/fonts/Ubuntu-Titling/UbuntuTitling-Bold.ttf');
        }
        @font-face {
            font-family: 'Nunito-Bold';
            src: url('../../../assets/fonts/Nunito/Nunito-Bold.ttf');
        }
        @font-face {
            font-family: 'Muli';
            src: url('../../../assets/fonts/muli/Muli-Black.ttf');
        }
        @font-face {
            font-family: 'Muli-Regular';
            src: url('../../../assets/fonts/muli/Muli-Regular.ttf');
        }
        @font-face {
            font-family: 'Muli-Light';
            src: url('../../../assets/fonts/muli/Muli-Light.ttf');
        }
        @font-face {
            font-family: 'Poppins-Light';
            src: url('../../../assets/fonts/Poppins/Poppins-Light.ttf');
        }
        @font-face {
            font-family: 'Poppins-Medium';
            src: url('../../../assets/fonts/Poppins/Poppins-Medium.ttf');
        }
        @font-face {
            font-family: 'Poppins';
            src: url('../../../assets/fonts/Poppins/Poppins-Regular.ttf');
        }
        @font-face {
            font-family: 'Poppins-Semi-Bold';
            src: url('../../../assets/fonts/Poppins/Poppins-SemiBold.ttf');
        }
        @font-face {
            font-family: 'Quicksand-Light';
            src: url('../../../assets/fonts/quicksand/Quicksand_Light.otf');
        }
        @font-face {
            font-family: 'Quicksand';
            src: url('../../../assets/fonts/quicksand/Quicksand_Book.otf');
        }
        body{
            background-color: #f6f7fb;
        }
        .card{
            font-family: 'Poppins-Medium';
        }
        .text-muted {
            font-family: 'Poppins-Light';
            font-size: 13px;
        }
        .custom-select{
            font-family: 'Poppins-Light';
        }
         .form-control{
            font-family: 'Poppins-Light' !important;
        }
        .form-label {
            font-family: 'Poppins-Medium';
            color: #444;
        }
        .widget-spec li{
            font-family: 'Poppins';
            color: #222;
            font-size: 14px;
        }
        .ff_fileupload_wrap .ff_fileupload_dropzone {
            display: block;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            border: 2px dashed #efecec;
            border-radius: 3px;
            padding: 0;
            background-color: #e8ebf3;
            background-image: url('./images/fancy_upload.png');
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0.85;
            cursor: pointer;
            outline: none;
        }
        .ff_fileupload_wrap table.ff_fileupload_uploads button.ff_fileupload_start_upload {
            background-image: url('./images/fancy_ok.png');
        }
        .ff_fileupload_wrap table.ff_fileupload_uploads button.ff_fileupload_remove_file {
            background-image: url('./images/fancy_remove.png');
        }
        .ff_fileupload_fileinfo{
            font-family: 'Poppins-Light' !important;
        }
        </style>
    </head>
    <body>
        <header class="header-part" style="height:70px">
            <div class="container">
                <div class="header-content">
                    <div class="header-left">
                            
                                 <a href="index.html" class="header-logo" style="margin-top:40px">
                                    <img src="../../../assets/images/logo/logo-black-light.png" alt="logo">
                                </a>
                    </div>
                   
                      
                    </div>
            </div>
        </header>
        <aside class="sidebar-part">
            <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
                <app-profile></app-profile>
            </div>
        </aside>
        <section class="banner-part" style="height: 200px;">
            <div class="container">
               <!-- <div class="banner-content"><br/>
    
                    <br/><br/>
                    <!--<p>Buy and sell everything from used cars to mobile phones and computers, or search for property, jobs and more in the world.</p><a href="ad-list-column3.html" class="btn btn-outline"><i class="fas fa-eye"></i><span>Show all ads</span></a>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-content">
                            <h2>Login</h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sptb">
            <div class="container customerpage">
                <div class="row">
                    <div class="col-lg-4 d-block mx-auto">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-md-12">
                                <div class="card mb-0">
                                    <div class="card-header"><h3 class="card-title" style="font-family: 'Quicksand'; font-size: 1.125rem; color:#605e7e;">Login to your Account</h3></div>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="btn-group btn-block mt-2 mb-3" (click)="signInWithFB()">
                                                <a  class="btn btn-facebook active" style="float: left;color:white"> <span class="fa fa-facebook"></span> </a> 
                                                <a  class="btn btn-block btn-second-block btn-facebook" style="margin-left: -20px; width: 290px; height: 42px; font-family: Muli-Light; text-transform: none; font-size: 13px !important;color:white">Facebook</a>
                                            </div>
                                            <div class="btn-group btn-block mt-2 mb-2" (click)="signInWithGoogle()">
                                                <a  class="btn btn-google active" style="float: left;color:white"> <span class="fa fa-google"></span> 
                                                </a> <a  class="btn btn-block btn-second-block btn-google" style="margin-left: -20px; width: 288px; height: 42px; font-family: Muli-Light; text-transform: none; font-size: 13px !important;color:white">Google</a>
                                            </div>
                                        </div>
                                        <hr style="font-family: Muli-Light; font-size: 14px;" class="divider" />
                                        <form [formGroup]="loginForm" >
                                        <div class="form-group">
                                            <label class="form-label text-dark">Email address</label> 
                                            <input type="email" formControlName="email" class="form-control" placeholder="Enter email" />
                                        </div>
                                        <span class="" style="display: none" id="email-text"></span>
                                        <div class="form-group">
                                            <label class="form-label text-dark">Password</label> 
                                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password" /></div>
                                            <div class="input-group-append" style="margin-left:267px;margin-top:-58px;height:37px">
                                                <span class="input-group-text">
                                                    <i  
                                                    class="fa"
                                                    [ngClass]="{
                                                      'fa-eye-slash': !fieldTextType,
                                                      'fa-eye': fieldTextType
                                                    }"
                                                    (click)="toggleFieldTextType()"
                                                  ></i>
                                            
                                                </span>
                                             </div>
                                        <div class="form-group">
                                            <label class="custom-control custom-checkbox">
                                                <a routerLink="/forget" class="float-right small text-dark mt-1" style="font-family: 'Poppins-Light';">Forgot password</a> 
                                                <input type="checkbox" formControlName="rememberMe" class="custom-control-input" />
                                                <span class="custom-control-label text-dark" style="font-family: 'Poppins-Light';" [checked]="true">Remember Me</span>
                                            </label>
                                        </div>
                                        <div (click)="login()" class="form-footer mt-2" style="font-family: 'Poppins-Light'; text-transform: none;"><a  class="btn btn-primary btn-block" style="background-color: #444; color: white; font-family: 'Poppins-Light' !important; font-size: 14px; text-transform: none; cursor: pointer;">SignIn</a></div>
                                        </form>
                                        <div class="text-center mt-3 text-dark" style="font-family: 'Poppins-Light'; font-size: 13px;cursor:pointer" routerLink="/signup">Don't have account yet? <a style="color: #444">SignUp</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer></app-footer>
    </body>
</html>



