.sptb {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8ebf3;
}
.text-danger {
    color: #ff382b !important;
}
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}
.text-danger {
    color: #dc3545!important;
}