
.sptb {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d8dde6;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgb(234 238 249 / 50%);
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem- 1px) 0 0;
}
.card-header {
    background: 0 0;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
    /*padding: 1.5rem 1.5rem;*/
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #d8dde6;
}
.card-title:only-child {
    margin-bottom: 0;
}
.card-header .card-title {
    margin-bottom: 0;
}
.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: none !important;
    font-family: 'Rubik' !important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    position: relative;
    height: 100%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.text-dark {
    color: #162946 !important;
}
.form-label {
    display: block;
    margin-bottom: 0.375rem;
    font-weight: 500;
    font-size: .875rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem ;
    font-size: .9375rem;
    line-height: 1.6;
    color: #080e1b;
    height: 39px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8dde6;
    border-radius: 3px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #6d7e9c;
    opacity: 1;
}
select.form-control:not([size]):not([multiple]) {
    height: 2.425rem;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: 2.375rem;
    padding: 0.5rem 1.75rem 0.5rem 0.75rem;
    line-height: 1.5;
    color: #a7b4c9;
    vertical-align: middle;
    background: #fff;
    background-size: 8px 10px;
    border: 1px solid #d8dde6;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-top: -20px;
}
.custom-control-label{
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #444;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #444;
    background-color: #444;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
}
.text-muted {
    color: #6d7e9c !important;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.p-2 {
    padding: 0.5rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 1rem !important;
}
.border {
    vertical-align: top;
    border: 1px solid #d8dde6 !important;
}
.card-body > :last-child {
    margin-bottom: 0;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.list-unstyled, .list-inline {
    padding-left: 0;
    list-style: none;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.widget-spec li {
    margin-bottom: 0.5rem;
    font-size: .9rem;
    display: flex;
}
.widget-spec li i {
    margin-right: 0.5rem;
    margin-top: 8px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.tabs-menu1 ul li .active {
    border: 1px solid #e72a1a;
    color: #e72a1a;
}
.tabs-menu1 ul li .active {
    border-radius: 2px;
}
.tabs-menu1 ul li a {
    padding: 10px 20px 11px 20px;
}
.tabs-menu1 ul li a {
    padding: 10px 20px 11px 20px;
    color: #8492a6;
    text-decoration: none;
    background-color: transparent;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
.pr-0, .px-0 {
    padding-right: 0 !important;
}
.border-0 {
    border: 0 !important;
}
.tabs-menu-body {
    padding: 15px;
    border: 1px solid #d8dde6;
}
.panel-body {
    padding: 15px;
}
.widget-spec li {
    margin-bottom: 0.5rem;
    font-size: .9rem;
    display: flex;
    color: #444;
}
.ml-5, .mx-5 {
    margin-left: 1.5rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.form-control:focus{
    outline: none;
    border: 1px solid #444;
}
.ml-1{
    margin-left: 1.5rem !important;
}
