.account-card {
    margin-bottom: 30px;
    padding: 0px 30px 30px;
    background: var(--white);
    border-radius: 8px;
}
.account-title {
    padding: 18px 0px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.account-title::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0px;
    width: 50px;
    height: 2px;
    background: var(--primary);
}
.account-title h3 {
    font-size: 20px;
}
.account-title button,
.account-title a {
    border: none;
    width: 55px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    color: var(--primary);
    background: var(--chalk);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.account-title button:hover,
.account-title a:hover {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
.account-card-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--border);
}
.account-card-list li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.account-card-list li:hover h6 {
    color: var(--white);
    background: var(--primary);
}
.account-card-list li h5 {
    font-size: 16px;
    font-weight: 500;
}
.account-card-list li h6 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--chalk);
}
.account-card-link li {
    margin-bottom: 8px;
}
.account-card-link li:last-child {
    margin-bottom: 0px;
}
.account-card-link li a {
    color: var(--gray);
}
.account-card-link li a:hover {
    color: var(--primary);
}
.account-card-link li a i {
    margin-right: 5px;
}
.account-card-text {
    margin-left: 20px;
}
.account-card-text li {
    list-style-type: disc;
    margin-bottom: 20px;
}
.account-card-text li:last-child {
    margin-bottom: 0px;
}
.account-card-form .form-group {
    margin-bottom: 20px;
}
.account-card-form .form-group:last-child {
    margin-bottom: 0px;
}
.account-card-form .form-group .btn {
    width: 100%;
    padding: 10px 30px;
}
@media (max-width: 575px) {
    .account-card {
        padding: 0px 20px 20px;
    }
}
body {
    background: #f2f2f4;
}
.profile-part {
    padding: 50px 0px 70px;
}
@media (max-width: 767px) {
    .profile-part {
        padding: 50px 0px 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .profile-part {
        padding: 50px 0px 50px;
    }
}
