<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>99 Discounts</title>
    
    <style>
        @font-face {
            font-family: 'Ubuntu-Titling';
            src: url('./fonts/Ubuntu-Titling/UbuntuTitling-Bold.ttf');
        }
        @font-face {
            font-family: 'Nunito-Bold';
            src: url('./fonts/Nunito/Nunito-Bold.ttf');
        }
        @font-face {
            font-family: 'Muli';
            src: url('./fonts/muli/Muli-Black.ttf');
        }
        @font-face {
            font-family: 'Muli-Regular';
            src: url('./fonts/muli/Muli-Regular.ttf');
        }
        @font-face {
            font-family: 'Muli-Light';
            src: url('./fonts/muli/Muli-Light.ttf');
        }
        @font-face {
            font-family: 'Roboto-Medium';
            src: url('./fonts/Roboto/Roboto-Medium.ttf');
        }
        @font-face {
            font-family: 'Roboto-Regular';
            src: url('./fonts/Roboto/Roboto-Regular.ttf');
        }
        @font-face {
            font-family: 'Poppins-Medium';
            src: url('./fonts/Poppins/Poppins-Medium.ttf');
        }
    </style>
</head>

<body>
    <app-header></app-header>
    <aside class="sidebar-part">
        <div class="sidebar-body">
            <app-profile></app-profile>
        </div>
    </aside>
    <nav class="mobile-nav">
        <div class="container">
                <div class="mobile-group"><a href="index.html" class="mobile-widget"><i class="fa fa-home"></i><span>home</span></a><a href="user-form.html" class="mobile-widget"><i class="fa fa-user"></i><span>join me</span></a>
                <a href="ad-post.html" class="mobile-widget plus-btn"><i class="fa fa-plus"></i><span>Ad Post</span></a><a href="notification.html" class="mobile-widget"><i class="fa fa-bell"></i><span>notify</span><sup>0</sup></a><a href="message.html" class="mobile-widget"><i class="fa fa-envelope"></i><span>message</span><sup>0</sup></a></div>
        </div>
    </nav>
    <section class="banner-part">
        <div class="container">
            <div class="banner-content"><br/>
                 <div class="pill-custom">
                     <span class="buy" style="font-family: 'Ubuntu-Titling';">Buy</span>
                     <span class="sell" style="font-family: 'Ubuntu-Titling';">Sell</span>
                     <span class="rent" style="font-family: 'Ubuntu-Titling';">Rent</span>
                 </div>
                <h1 style="font-family: 'Ubuntu-Titling'; font-size: 35px;"> Used Items</h1>
                <br/><br/>                
            </div>
        </div>
    </section>
    <section class="suggest-part">
        <div class="container">
            <app-product-slider></app-product-slider>     
         </div> 
    </section>

  
   
  
    
    <section class="section trend-part" style="padding: 55px 0px 30px 0px;">        
        <div class="container">           
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <p id="main" style="font-size:23px;color:black;font-weight:bold; font-family: 'Poppins-Medium'; letter-spacing: 1px;">{{main_category}}<span class="ad-count" style="font-weight: 400 !important; color: #666; font-size: 15px; margin-left: 10px;"></span></p>
                </div><br>
            </div>  
            <span *ngIf="ads.length > 0">
                <div class="row ">
                    <div class="col-md-11 col-lg-8 col-xl-6" *ngFor="let ads2 of ads;let i = index">
                        <div class="product-card standard" >
                            <div class="product-media">
                                <div class="product-img"><img src="{{ads2.image_url1}}" alt="product"></div>
                                <!--<div class="cross-vertical-badge product-badge"><i class="fas fa-bolt"></i><span>trending</span></div>-->
                            
                            </div>
                            <div class="product-content">
                                <ol class="breadcrumb product-category" style="font-family: 'Muli-Regular';">
                                    <li><i class="fa fa-tags"></i></li>
                                    <li class="breadcrumb-item"><a href="#">{{ads2.category}}</a></li>
                                
                                </ol>
                                <h5 class="product-title"><a routerLink="/single-ad/{{ads2._id}}" style="font-family: 'Nunito-Bold';">{{ads2.title}}</a></h5>
                                <div class="product-meta" style="font-family: 'Muli-Regular';"><span><i class="fa fa-map-marker-alt"></i>{{ads2.location}}</span><span><i class="fa fa-clock"></i>{{ads2.date_created}}</span></div>
                                <div class="product-info">
                                    <h5 class="product-price">&#8377;{{ads2.price}}<span>/ Negotiable</span></h5>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <div class="row">
                <div class="col-md-12" *ngIf="!ads.length">
                    <div class="product-card standard">
                        <h4 class="box-empty">No Results Found</h4>
                    </div>
                </div>
            </div>            
        </div>
    </section>    
  
    <app-footer></app-footer>
    
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fa fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fa fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <!--<script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/custom/slick.js"></script>
    <script src="js/custom/main.js"></script>-->

    <script>
        var join = document.getElementById('join');
        var close_register = document.getElementById('close-register');
        var login = document.getElementById('login');
        var close_login = document.getElementById('close-login');
        var go_register = document.getElementById('go-register');
        var go_login = document.getElementById('go-login');
        go_register.addEventListener('click', function(){
            document.getElementById('register').style="display:block";
            document.getElementById('login').style="display:none";
        })
        close_register.addEventListener('click', function(){
            document.getElementById('register').style="display:none";
        })
        join.addEventListener('click', function(){
            document.getElementById('login').style="display:block";
        })
        close_login.addEventListener('click', function(){
            document.getElementById('login').style="display:none";
        })
        go_login.addEventListener('click', function(){
            document.getElementById('login').style="display:block";
            document.getElementById('register').style="display:none";
        })
    </script>
</body>
</html>
