    <html>
        <head>
            <style>
                aside{
                    background-color: white !important;
                    border-right: 1px solid #ddd;
                    padding:0 !important;
                    height: 100%;
                    border-bottom: 4px solid #444;
                }
                .container{
                    padding:0 !important;
                }
                .col-lg-9{
                    padding:0;
                    margin:0;
                }                     
            </style>        
        </head>
        <body>
            <header class="header-part" style="height:70px">
                <div class="container">
                    <div class="header-content">
                        <div class="header-left" style="margin-top:10px">
                            <button  onclick="clickLogo()" type="button" class="header-widget sidebar-btn" style="margin-left:-10px;"><i class="fa fa-align-left"></i></button> 
                            <a routerLink="/" class="header-logo"><img src="../../../assets/images/logo/logo-black-light.png" alt="logo"></a>
                    </div>                                            
                        </div>
                </div>
            </header>
             
            <aside class="sidebar-part" style="width: 300px;">
                <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
                    <app-profile></app-profile>
                </div>
            </aside>
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-ad-box">Categories</section>
            <main>
                <section  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="container category-wrap">
                        <aside class="col-lg-3 col-md-3 col-sm-3 col-xs-12 category-left-list">
                            <h3 style="font-size: 20px;">Main Categories</h3>
                            <ul class="cus-nav" id="main-cat">  
                                <li *ngFor="let category of data; let i = index" 
                                    [class.active]="selectedIndex === i" 
                                    (click)="show(i)">
                                    <a><img src="{{category.image_category}}" alt="main_category_image">{{category.category_name}}</a>
                                </li>                           
                            </ul>  
                        </aside>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 category-main"    *ngFor="let all of categoryList2; let i=index" [attr.id]="i"  style="display:none;" [isLast]="i" 
                        [style.display]="i==selectedIndex? 'block': 'none'">
                            <div id="" class="selectedcat-box">
                                <h3>{{all.category_name}}</h3>
                            </div>
                            <div id="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subcat-box">
                                <ul >
                                    <li *ngFor="let new of all.getList" routerLink="/PostAds/{{new.category_name}}">
                                        <a>
                                            <img class="subcat-img" src="{{new.image_url}}">
                                            {{new.category_name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </section>
           
        </main>    
    </body>
    </html>
