

.bamdik{
    position: absolute !important;
    background: black;
}
.prev{
    position: absolute;
    background: black;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 12px;
    
}