<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>99 Discounts</title>
 
 <style>
 @font-face {
 font-family: 'Ubuntu-Titling';
 src: url('./fonts/Ubuntu-Titling/UbuntuTitling-Bold.ttf');
 }
 @font-face {
 font-family: 'Nunito-Bold';
 src: url('./fonts/Nunito/Nunito-Bold.ttf');
 }
 @font-face {
 font-family: 'Muli';
 src: url('./fonts/muli/Muli-Black.ttf');
 }
 @font-face {
 font-family: 'Muli-Regular';
 src: url('./fonts/muli/Muli-Regular.ttf');
 }
 @font-face {
 font-family: 'Muli-Light';
 src: url('./fonts/muli/Muli-Light.ttf');
 }
 @font-face {
 font-family: 'Roboto-Medium';
 src: url('./fonts/Roboto/Roboto-Medium.ttf');
 }
 @font-face {
 font-family: 'Roboto-Regular';
 src: url('./fonts/Roboto/Roboto-Regular.ttf');
 }
 @font-face {
 font-family: 'Poppins-Medium';
 src: url('./fonts/Poppins/Poppins-Medium.ttf');
 }
 .slick-next{
 display: none !important;
 }
 </style>
</head>

<body>
 <app-header></app-header>
 <aside class="sidebar-part">
    <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
        <app-profile></app-profile>
    </div>
 </aside>
 <nav class="mobile-nav">
 <div class="container">
 <div class="mobile-group"><a href="index.html" class="mobile-widget"><i class="fa fa-home"></i><span>home</span></a><a href="user-form.html" class="mobile-widget"><i class="fa fa-user"></i><span>join me</span></a>
 <a href="ad-post.html" class="mobile-widget plus-btn"><i class="fa fa-plus"></i><span>Ad Post</span></a><a href="notification.html" class="mobile-widget"><i class="fa fa-bell"></i><span>notify</span><sup>0</sup></a><a href="message.html" class="mobile-widget"><i class="fa fa-envelope"></i><span>message</span><sup>0</sup></a></div>
 </div>
 </nav>


 
 <section class="banner-part">
 <div class="container">
 <div class="banner-content"><br/>
 <div class="pill-custom">
 <span class="buy" style="font-family: 'Ubuntu-Titling';">Buy</span>
 <span class="sell" style="font-family: 'Ubuntu-Titling';">Sell</span>
 <span class="rent" style="font-family: 'Ubuntu-Titling';">Rent</span>
 </div>
 <!--<h1 style="font-family: 'Ubuntu-Titling'; font-size: 35px;"> Used Items</h1>-->
 <br/><br/> 
 </div>
 </div>
 </section>
 <section class="suggest-part">
 <!--<div class="container">
 <div class="suggest-slider slider-arrow">
 <span *ngFor="let category of categoryList">
 <a routerLink="/Ads/{{category.category_name}}" class="suggest-card"><img src="{{category.image_url}}" alt="car">
 <h6>{{category.category_name}}</h6>
 </a>
 </span>
 
 </div>
 </div>-->
 <div class="container">
    <app-product-slider></app-product-slider>     
 </div>
 
 </section>

 <!-- Login Modal -->
 <div class="modal lrr in" id="login" tabindex="-1" role="dialog" style="display: none; padding-right: 15px;">
 <div class="modal-dialog">

 <!-- Modal content-->
 <div class="modal-content modal-content-cus" style="">
 <form method="post" class="ajax-form" autocomplete="off"><input type="hidden" value="1" name="aff-cpt">
 <div class="modal-header">
 <h5 class="modal-title">Login</h5>
 <a href="#" data-dismiss="modal" id="close-login" onclick="closeLogin()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#dddddd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
 </div>
 <div class="modal-body">

 <div class="ajax-form-result"></div>
 <div class="row">
 <div class="col-sm-6">
 <div class="form-group has-feedback">
 <label for="log_username" class="bold" style=" font-family: 'Muli-Light'; font-size: 13px;">Username / Email *</label>
 <input type="text" class="form-control" id="log_username" name="log_username" placeholder="→">
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group has-feedback relative-wrap">
 <label for="log_password" class="bold" style=" font-family: 'Muli-Light'; font-size: 13px;">Password *</label>
 <input type="password" class="form-control reveal-password" id="log_password" name="log_password" placeholder="→">
 <a href="javascript:;" title="View Password" class="toggle-password"><i class="fa fa-eye"></i></a>
 </div>
 </div>
 </div>

 <a href="javascript:;" class="submit-ajax-form af-button">Login </a>

 <div class="text-center">
 <a href="#" style=" font-family: 'Muli-Light'; font-size: 13px; color:#666; margin-top: 15px;" class="forgot" data-toggle="modal" data-target="#recover" data-dismiss="modal">Forgotten your password?</a>
 </div>

 <div class="or-divider"><h6>OR </h6></div>

 <div class="text-center">
 <label>Sign In With</label>
 </div>
 <ul class="list-unstyled list-inline social-login">
 <li>
 <a href="javascript:void(0);" class="facebook">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/facebook.png" width="48" height="48">
 <span style=" font-family: 'Muli-Light'; font-size: 15px;">Facebook</span>
 </a>
 </li>
 <li>
 <a href="javascript:void(0);" class="twitter">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/twitter.png" width="58" height="48">
 <span style=" font-family: 'Muli-Light'; font-size: 15px;">Twitter</span>
 </a>
 </li>
 <li>
 <a href="javascript:void(0);" class="google">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/google.png" width="70" height="70">
 <span style="font-family: 'Roboto-Regular'; font-size: 15px;">Google</span>
 </a>
 </li>
 </ul>

 <div class="text-center1">
 <a href="#" class="register-acc" data-toggle="modal" data-target="#register" id="go-register" data-dismiss="modal">Don't have an account? Create one here.</a>
 </div>

 <input type="hidden" value="adifier_login" name="action">
 </div>
 <input type="hidden" id="adifier_nonce" name="adifier_nonce" value="8e4c51dd7f"><input type="hidden" name="_wp_http_referer" value="/themes/adifier/"> </form>
 </div>

 </div>
 </div>
 <!-- End of Login Modal -->

 <!-- Signup Modal -->
 <div class="modal in lrr" id="register" tabindex="-1" role="dialog" style="display: none; padding-right: 15px;">
 <div class="modal-dialog">

 <!-- Modal content-->
 <div class="modal-content" style="width:700px; margin-left:-100px;">
 <form method="post" class="ajax-form" autocomplete="off"><input type="hidden" value="1" name="aff-cpt">
 <div class="modal-header">
 <h5 class="modal-title">Register</h5>
 <a href="#" data-dismiss="modal" id="close-register"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#dddddd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>
 </div>
 <div class="modal-body">
 <div class="ajax-form-result"></div>
 <div class="row">
 <div class="col-sm-6">
 <div class="form-group has-feedback">
 <label for="reg_username" class="bold">Username *</label>
 <input style="font-family: 'Poppins-Medium'" type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Your desired username">
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group has-feedback">
 <label for="reg_email" class="bold">Email *</label>
 <input style="font-family: 'Poppins-Medium'" type="text" class="form-control" id="reg_email" name="reg_email" placeholder="It will be verified">
 </div>
 </div>
 </div>
 <div class="row">
 <div class="col-sm-6">
 <div class="form-group has-feedback relative-wrap">
 <label for="reg_password" class="bold">Password * <span class="pw-strength"></span></label>
 <input style="font-family: 'Poppins-Medium'" type="password" class="form-control reveal-password pw-check-strength" id="reg_password" name="reg_password" placeholder="Use a strong password">
 <a href="javascript:;" title="View Password" class="toggle-password"><i class="aficon-eye"></i></a>
 </div>
 </div>
 <div class="col-sm-6">
 <div class="form-group has-feedback relative-wrap">
 <label for="reg_r_password" class="bold">Repeat Password *</label>
 <input style="font-family: 'Poppins-Medium';" type="password" class="form-control reveal-password" id="reg_r_password" name="reg_r_password" placeholder="To make sure that it is correct">
 <a href="javascript:;" title="View Password" class="toggle-password"><i class="fa fa-eye"></i></a>
 </div>
 </div>
 </div>

 <div class="form-group has-feedback">
 <div class="styled-checkbox">
 <input type="checkbox" id="terms_553" name="terms" value="1">
 <label for="terms_553" class="terms-label">I agree to <a href="http://demo.spoonthemes.net/themes/adifier/terms-conditions/" target="_blank">terms &amp; conditions</a> </label>
 </div>
 </div>

 <a href="javascript:;" class="submit-ajax-form af-button">Register </a>

 <div class="or-divider"><h6>OR</h6></div>

 <div class="text-center">
 <label>Sign In With</label>
 </div>
 <ul class="list-unstyled list-inline social-login">
 <li>
 <a href="javascript:void(0);" class="facebook">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/facebook.png" width="48" height="48">
 <span style="font-family: Muli-Light; font-size: 15px;">Facebook</span>
 </a>
 </li>
 <li>
 <a href="javascript:void(0);" class="twitter">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/twitter.png" width="58" height="48">
 <span style="font-family: Muli-Light; font-size: 15px;">Twitter</span>
 </a>
 </li>
 <li>
 <a href="javascript:void(0);" class="google">
 <img src="http://demo.spoonthemes.net/themes/adifier/wp-content/themes/adifier/images/google.png" width="70" height="70">
 <span style=" font-family: 'Roboto-Regular'; font-size: 15px;">Google</span>
 </a>
 </li>
 </ul>

 <div class="text-center1">
 <a href="#" id="go-login" style="font-family: Muli-Light; color: #666; margin-top: 20px;" class="register-acc" data-toggle="modal" data-target="#login" data-dismiss="modal">Already have an account? Login here.</a>
 </div>

 <input type="hidden" value="adifier_register" name="action">
 </div>
 <input type="hidden" id="adifier_nonce" name="adifier_nonce" value="8e4c51dd7f"><input type="hidden" name="_wp_http_referer" value="/themes/adifier/"> </form>
 </div>
 </div>
 </div>

 <section class="section trend-part" style="padding: 50px 0px 30px 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"> 
            </div>
        </div>
        <div class="row" *ngIf="data.length > 0">
            <div class="col-md-11 col-lg-8 col-xl-6" *ngFor="let ads of data">
                <div class="product-card standard">
                    <div class="product-media">
                        <div class="product-img"><img src="{{ads.image_url1}}" alt="product"></div>
                    </div>
                    <div class="product-content">
                        <ol class="breadcrumb product-category" style="font-family: 'Muli-Regular';">
                            <li><i class="fa fa-tags"></i></li>
                            <li class="breadcrumb-item"><span>{{ads.category}}</span></li>
                        </ol>
                        <h5 class="product-title"><a routerLink="/single-ad/{{ads._id}}" style="font-family: 'Nunito-Bold';">{{ads.title}}</a></h5>
                        <div class="product-meta" style="font-family: 'Muli-Regular';">
                            <p  class="product-meta-location"><i class="fa fa-map-marker"></i>{{ads.location}}</p>
                            <p class="publish-date"><i class="fa fa-clock-o"></i>{{ads.date_created}}</p>
                        </div>
                        <div class="product-info">
                            <h5 class="product-price">&#8377;{{ads.price}}<span>/ {{ads.price_type}}</span></h5>
                            <div class="product-btn"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div> 
    <div class="col-md-12" *ngIf="!data.length">
        <div class="product-card standard">
            <h4 class="box-empty">No Results Found</h4>
        </div>
    </div>
 </div>
 </section> 
 <section class="section category-part" style="padding: 30px 0px 30px 0px;">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">
 <div class="section-center-heading">
 <h2>Categories</h2>
 </div>
 </div>
 </div>
 <div class="row" style="justify-content:left">
 <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let all of categoryList2">
 <div class="category-card">
 <div class="category-head"><img src="{{all.image_url}}" alt="category"><a href="category-details.html" class="category-content"><h4>{{all.category_name}}</h4></a></div>
 <ul class="category-list">
 <li *ngFor="let new of all.getList"><a routerLink="/Ads/{{new.category_name}}"><h6>{{new.category_name}}</h6></a></li>
 
 </ul>
 </div>
 </div>
 
 </div> 
 </div>
 </section>
 
 <app-footer></app-footer>
 
 <div class="modal fade" id="currency">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <div class="modal-header">
 <h4>Choose a Currency</h4>
 <button class="fa fa-times" data-dismiss="modal"></button>
 </div>
 <div class="modal-body">
 <button class="modal-link active">United States Doller (USD) - $</button>
 <button class="modal-link">Euro (EUR) - €</button>
 <button class="modal-link">British Pound (GBP) - £</button>
 <button class="modal-link">Australian Dollar (AUD) - A$</button>
 <button class="modal-link">Canadian Dollar (CAD) - C$</button>
 </div>
 </div>
 </div>
 </div>
 <div class="modal fade" id="language">
 <div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
 <div class="modal-header">
 <h4>Choose a Language</h4>
 <button class="fa fa-times" data-dismiss="modal"></button>
 </div>
 <div class="modal-body">
 <button class="modal-link active">English</button>
 <button class="modal-link">bangali</button>
 <button class="modal-link">arabic</button>
 <button class="modal-link">germany</button>
 <button class="modal-link">spanish</button>
 </div>
 </div>
 </div>
 </div>
 <!--<script src="js/vendor/jquery-1.12.4.min.js"></script>
 <script src="js/vendor/popper.min.js"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script src="js/vendor/slick.min.js"></script>
 <script src="js/custom/slick.js"></script>
 <script src="js/custom/main.js"></script>-->

 <script>
 var join = document.getElementById('join');
 var close_register = document.getElementById('close-register');
 var login = document.getElementById('login');
 var close_login = document.getElementById('close-login');
 var go_register = document.getElementById('go-register');
 var go_login = document.getElementById('go-login');
 go_register.addEventListener('click', function(){
 document.getElementById('register').style="display:block";
 document.getElementById('login').style="display:none";
 })
 close_register.addEventListener('click', function(){
 document.getElementById('register').style="display:none";
 })
 join.addEventListener('click', function(){
 document.getElementById('login').style="display:block";
 })
 close_login.addEventListener('click', function(){
 document.getElementById('login').style="display:none";
 })
 go_login.addEventListener('click', function(){
 document.getElementById('login').style="display:block";
 document.getElementById('register').style="display:none";
 })
 </script>
</body>
</html>