.ad-details-part {
    padding: 100px 0px 70px;
    background: #f5f5f5;
}
.common-card.price,
.common-card.number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.common-card.price h3,
.common-card.number h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    font-family: sans-serif;
    color:white;
}
.common-card.price span,
.common-card.number span {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: white;
}
.common-card.price i,
.common-card.number i {
    font-size: 35px;
}
.price {
    background: #444444;
}
.price i {
    color: #fff;
}
.number {
    background: #444444;
}
.number i {
    color: #ddd;
}
.ad-details-author {
    text-align: center;
}
.ad-details-author .author-img {
    border-radius: 50%;
    border: 3px solid var(--black-light);
    margin-bottom: 10px;
    position: relative;
}
.ad-details-author .author-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}
.ad-details-author .author-img::before {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #aaaaaa;
    border: 2px solid white;
}
.ad-details-author .author-img.active::before {
    background: green;
}
.ad-details-author .author-meta {
    margin-bottom: 20px;
}
.ad-details-author .author-meta h4 a {
    color: var(--heading);
    text-transform: capitalize;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.ad-details-author .author-meta h4 a:hover {
    color: var(--heading);
}
.ad-details-author .author-meta h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray);
    text-transform: capitalize;
    margin-bottom: 10px;
}
.ad-details-author .author-meta p {
    font-size: 15px;
    line-height: 22px;
}
.ad-details-author .author-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.ad-details-author .author-widget a,
.ad-details-author .author-widget button {
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    margin: 0px 10px;
    color: #777777;
    background: #f5f5f5;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.ad-details-author .author-widget a:hover,
.ad-details-author .author-widget button:hover {
    color: #ffffff;
    background: #444444;
    border-color: #f5f5f5;
    box-shadow: 2px 3px 8px rgba(0,  0,  0,  0.1);
}
.ad-details-author .author-widget .follow.active {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
    box-shadow: var(--primary-tshadow);
}
.ad-details-author .author-list li {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-top: 1px solid var(--border);
}
.ad-details-author .author-list li:last-child {
    border-bottom: 1px solid var(--border);
}
.ad-details-author .author-list li h6,
.ad-details-author .author-list li p {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.ad-details-opening li {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.ad-details-opening li h6,
.ad-details-opening li p {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.ad-details-map {
    width: 100%;
    height: 330px;
    border: none;
}
.ad-details-safety p {
    margin-bottom: 17px;
    padding-left: 25px;
    position: relative;
}
.ad-details-safety p::before {
    position: absolute;
    content: "\f192";
    top: 0px;
    left: 0px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'FontAwesome';
    color: var(--black-light);
}
.ad-details-safety p:last-child {
    margin-bottom: 0px;
}
.feature-content {
    padding: 25px;
    position: inherit;
    background: var(--heading);
    border-radius: 0px 0px 8px 8px;
}
.feature-img img {
    border-radius: 8px 8px 0px 0px;
}
.feature-title {
    font-size: 22px;
    line-height: 30px;
}
.feature-meta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.feature-price {
    margin: 0px 0px 5px 0px;
}
.ad-details-breadcrumb {
    margin-bottom: 18px;
}
.ad-details-breadcrumb .flat-badge {
    font-size: 14px;
    padding: 3px 10px;
    margin-right: 12px;
}
.ad-details-breadcrumb .breadcrumb-item {
    color: var(--text);
}
.ad-details-breadcrumb .breadcrumb-item::before {
    color: var(--text);
}
.ad-details-breadcrumb .breadcrumb-item a {
    color: var(--text);
}
.ad-details-breadcrumb .breadcrumb-item a:hover {
    color: var(--primary);
}
.ad-details-address {
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--text);
    position: relative;
    text-transform: capitalize;
}
.ad-details-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: capitalize;
}
.ad-details-meta {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.ad-details-meta a {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}
.ad-details-meta a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    color: var(--white);
}
.ad-details-meta a span {
    color: var(--black-light);
    text-transform: capitalize;
}
.ad-details-meta a span strong {
    margin-right: 3px;
    font-weight: 500;
}
.ad-details-meta .view i {
    background: var(--view);
}
.ad-details-meta .click i {
    background: var(--click);
}
.ad-details-meta .rating i {
    background: #e8ce00;
}
.ad-details-meta .rating:hover span {
    color: var(--black-light);
}
.ad-details-slider-group {
    position: relative;
}
.ad-details-slider .slick-slide {
    margin-bottom: 20px;
}
.ad-details-slider .slick-slide img {
    width: 670px;
    border-radius: 8px;
}
.ad-details-badge {
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 2;
}
.ad-details-badge:hover span {
    left: 50px;
}
.ad-details-badge i {
    font-size: 20px;
    padding: 8px 10px 15px;
}
.ad-thumb-slider {
    margin-bottom: 20px;
}
.ad-thumb-slider .slick-slide {
    margin: 0px 10px;
    cursor: pointer;
}
.ad-thumb-slider .slick-slide img {
    width: 100%;
    border-radius: 8px;
}
.ad-details-action {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.ad-details-action a,
.ad-details-action button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    color: #444444;
    background: #e8e8e8;
    text-transform: capitalize;
    border-radius: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.ad-details-action a i,
.ad-details-action button i {
    margin-right: 8px;
}
.ad-details-action a:hover,
.ad-details-action button:hover {
    color: #ffffff;
    background: #444444;
}
.ad-details-action .wish.active {
    color: var(--white);
    background: #444444;
}
.ad-details-specific {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.ad-details-specific li {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    background: #f5f5f5;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card {
    margin: 0px 10px;
}
@media (max-width: 575px) {
    body {
        overflow-x: hidden;
    }
    .ad-details-part .container {
        padding: 0px;
    }
    .ad-details-title {
        font-size: 23px;
        line-height: 33px;
    }
    .ad-details-meta a {
        justify-content: flex-start;
    }
    .ad-details-action {
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 767px) {
    .ad-details-part {
        padding: 60px 0px 30px;
    }
    .ad-details-meta {
        grid-gap: 0px;
    }
    .ad-details-action a,
    .ad-details-action button {
        font-size: 15px;
        padding: 10px 15px;
    }
    .ad-details-specific {
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .product-card {
        width: 290px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ad-details-part {
        padding: 80px 0px 50px;
    }
    .feature-card {
        margin: 0px 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .ad-details-author .author-widget a,
    .ad-details-author .author-widget button {
        margin: 0px 5px;
    }
}
