body {
    background: #f2f2f4;
}
.adpost-part {
    padding: 50px 0px 70px;
}
.adpost-card {
    margin-bottom: 30px;
    padding: 30px 30px 0px 30px;
    background: var(--white);
    border-radius: 8px;
}
.adpost-title {
    padding-bottom: 18px;
    margin-bottom: 25px;
    position: relative;
    border-bottom: 1px solid var(--border);
}
.adpost-title::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0px;
    width: 50px;
    height: 2px;
    background: var(--primary);
}
.form-group {
    margin-bottom: 30px;
}
.form-check-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.form-check-list li:last-child {
    margin-bottom: 0px;
}
.form-check {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.form-check-text {
    font-weight: 500;
    line-height: 15px;
    text-transform: capitalize;
}
.adpost-plan-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border);
}
.adpost-plan-content h6 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.adpost-plan-content h6 span {
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}
.adpost-plan-meta {
    text-align: center;
    margin-left: 30px;
}
.adpost-plan-meta h3 {
    font-family: sans-serif;
    margin-bottom: 5px;
}
.adpost-plan-meta .btn {
    padding: 6px 20px;
}
.adpost-agree {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 45px;
}
.adpost-agree .form-group {
    margin: 6px 0px 0px;
}
@media (max-width: 767px) {
    .adpost-plan-list li {
        flex-direction: column;
        align-items: flex-start;
    }
    .adpost-plan-meta {
        margin: 20px 0px 0px;
    }
    .pb-4 .btn {
        padding: 14px 25px;
    }
}
