.dandik, .bamdik {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    /*color: var(--primary);*/
    color: #ff6f00;
    background: var(--white);
    text-shadow: var(--primary-tshadow);
    box-shadow: var(--primary-bshadow);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dandik:hover, .bamdik:hover {
    color: var(--white);
    /*background: var(--primary);*/
    background-color: #ff6f00;
}
.dandik {
    right: -25px;
}
.bamdik {
    left: -25px;
}