body {
    background: #f2f2f4;
}
.dashboard-part {
    padding: 50px 0px 70px;
}
.dash-review-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dash-review-widget h4 {
    font-weight: 500;
    margin-top: 5px;
}
.dash-review-widget .custom-select {
    width: 160px;
    border: none;
    font-weight: 500;
    border-radius: 0px;
    border-bottom: 2px solid var(--primary);
}
.dash-review-widget .custom-select:focus {
    box-shadow: none;
}
.review-list {
    margin-bottom: 30px;
}
@media (max-width: 575px) {
    .dash-review-widget {
        flex-direction: column;
    }
    .dash-review-widget h4 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .dashboard-part {
        padding: 50px 0px 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .dashboard-part {
        padding: 50px 0px 50px;
    }
}
