@font-face {
    font-family: 'Nunito-Bold';
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.banner-part {
    /*background: url(../../images/login-3.jpeg);*/
    background: url('https://www.agilitypr.com/wp-content/uploads/2017/10/shopping-1.jpg');
    background: url('https://cyberseniors.org/wp-content/uploads/2021/05/online-buying-selling-safely.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px 178px;
    position: relative;
    z-index: 1;
    height: 400px;
}
.banner-part::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 53, 138, 0.55),  rgba(5, 44, 112, 0.55));
    z-index: -1;
}
.banner-content {
    text-align: center;
}
.banner-content h1 {
    color: var(--white);
    margin-bottom: 20px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
.banner-content p {
    width: 600px;
    font-size: 18px;
    line-height: 28px;
    margin: 0 auto 45px;
    color: var(--white);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
    .banner-part {
    padding: 60px 0px 145px;
}
.banner-content h1 {
    font-size: 30px;
    line-height: 40px;
}
.banner-content p {
    width: 100%}
}@media (min-width: 768px) and (max-width: 991px) {
    .banner-part {
    padding: 80px 0px 175px;
}
}.suggest-part {
    position: relative;
    margin-top: -85px;
    z-index: 2;    
}
.suggest-slider .slick-slide img {
    display: inline-block;
}
.feature-card-slider {
    margin-left: 50px;
    margin-bottom: 18px;
}
.feature-thumb-slider {
    margin-left: 50px;
}
@media (max-width: 991px) {
    .feature-card-slider, .feature-thumb-slider {
    margin-left: 0px;
}
}@media (min-width: 400px) and (max-width: 575px) {
    .feature-card-slider {
    width: 370px;
    margin: 0px auto 30px;
}
.feature-thumb-slider {
    width: 370px;
    margin: 0px auto;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .feature-content {
    position: inherit;
    padding: 20px 20px 15px;
    background: var(--heading);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.feature-img img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.feature-wish {
    top: 15px;
    right: 15px;
}
.feature-meta {
    display: flex;
    flex-direction: column;
}
.feature-price {
    margin: 0px 0px 5px;
}
}.recomend-slider .product-card {
    margin: 0px 10px;
}
@media (max-width: 575px) {
    .recomend-slider .product-card {
    width: 255px;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .recomend-slider .product-card {
    width: 300px;
}
}.niche-part .niche-nav {
    margin-bottom: 30px;
}
.niche-part .tab-pane {
    padding: 0px;
}
.niche-part .tab-pane .row {
    justify-content: center;
}
.niche-part .product-card {
    margin-bottom: 30px;
}
@media (max-width: 575px) {
    .niche-nav .nav-tabs li .nav-link {
    font-size: 12px;
    line-height: 18px;
    padding: 10px 10px;
}
}@media (min-width: 380px) and (max-width: 575px) {
    .niche-part .product-card {
    width: 350px;
    margin: 0px auto 30px;
}
}@media (min-width: 992px) and (max-width: 1199px) {
    .niche-part .container {
    max-width: 990px;
}
.niche-part .container .col-lg-3 {
    padding: 0px 10px;
}
}.category-part .row:nth-child(2) {
    justify-content: center;
}
.intro-part {
    padding: 112px 0px 415px;
    margin-top: 120px;
    position: relative;
    background: linear-gradient(#04b,  #080229);
}
.intro-part::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../../images/bg/02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.intro-part .section-center-heading {
    margin-bottom: 0px;
}
.intro-part .section-center-heading h2 {
    font-size: 45px;
    line-height: 55px;
    color: var(--white);
    margin-bottom: 22px;
}
.intro-part .section-center-heading p {
    color: var(--white);
    margin-bottom: 45px;
}
@media (max-width: 575px) {
    .intro-part .section-center-heading h2 {
    font-size: 28px;
    line-height: 36px;
}
}@media (max-width: 767px) {
    .intro-part {
    margin-top: 60px;
    padding: 50px 0px 365px;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .intro-part {
    margin-top: 80px;
    padding: 70px 0px 385px;
}
}.price-part {
    margin-top: -300px;
}
.price-part .row:nth-child(2) {
    justify-content: center;
}
.price-part .section-center-heading h2, .price-part .section-center-heading p {
    color: var(--white);
}
.blog-part {
    padding: 120px 0px;
}
.blog-card {
    margin: 0px 15px;
}
.blog-btn {
    text-align: center;
    margin-top: 50px;
}
@media (max-width: 575px) {
    .blog-card {
    width: 290px;
}
}@media (max-width: 767px) {
    .blog-part {
    padding: 30px 0px 60px;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .blog-card {
    width: 335px;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .blog-part {
    padding: 50px 0px 80px;
}
}

.pill-custom{
    font-size: .8em;
    /*background: #444;*/
    /*background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));*/
    background: #7F000000;
    display: inline-block;
    border: solid 0.2em #7F000000;;
    overflow: hidden;
    border-radius: 0.8em;
}
.pill-custom .buy{
    display: inline-block;
    padding: 0.45em 0.45em 0.3em 0.35em;
    background: #444;
    color: #fff;
    margin: 5px;
    text-align: center;
    border-top-left-radius: 0.15em;
    border-bottom-left-radius: 0.15em;    
    font-size: 3em;
    letter-spacing: -0.04em;
    font-weight: normal;
}
.pill-custom .sell {
    display: inline-block;
    padding: 0.45em 0.45em 0.3em 0.45em;
    margin: 5px 5px 5px -10px;
    background: #fff;
    color: #444;
    
    text-align: center;
    font-size: 3em;
    letter-spacing: -0.04em;
    font-weight: normal;
}
.pill-custom .rent{
    display: inline-block;
    padding: 0.45em 0.45em 0.3em 0.45em;
    margin: 5px 5px 5px -10px;
    background: #444;
    color: #fff;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;    
    text-align: center;
    font-size: 3em;
    letter-spacing: -0.04em;
    font-weight: normal;
}