.sptb {
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
.customerpage .card {
    margin-bottom: 1.5
rem
 !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e8ebf3;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem- 1px) 0 0;
}
.card-header {
    background: none !important;
    padding: 0.5rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    -ms-flex-align: center;
    align-items: center;
}
.card-header {
    padding: 1.5rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #e8ebf3;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-title:only-child {
    margin-bottom: 0;
}
.card-header .card-title {
    margin-bottom: 0;
}
.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 500;
}
.card-title {
    margin-bottom: 1.5rem;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group>.btn:focus, .btn-group>.btn:active, .btn-group>.btn.active {
    z-index: 1;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
    z-index: 1;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-facebook:hover, .btn-facebook.active {
    color: #fff;
    background-color: #0941d3;
    border-color: #0941d3;
}
.btn-google:hover{
    color: #fff;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-facebook {
    color: #fff;
    background-color: #1c51dc;
    border-color: #1c51dc;
}
.btn {
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.84615385;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group {
    margin-left: -1px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group, .btn-group-vertical .btn+.btn, .btn-group-vertical .btn+.btn-group, .btn-group-vertical .btn-group+.btn, .btn-group-vertical .btn-group+.btn-group {
    margin-left: -1px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #d04237;
    border-color: #d04237;
}
.btn-google {
    color: #fff;
    background-color: #f35243;
    border-color: #f35243;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px
 solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.84615385;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
hr.divider {
    padding: 0;
    border: none;
    border-top: solid 1px #e8ebf3;
    color: #333;
    text-align: center;
    margin: 1.5rem 0;
}
hr.divider:after {
    content: "or";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: white;
}
.text-dark {
    color: #504e70 !important;
}
.form-label {
    display: block;
    margin-bottom: 0.375rem;
    font-weight: 500;
    font-size: 0.775rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #605e7e;
    height: 39px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e8ebf3;
    border-radius: 3px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form-control::placeholder{
    font-size: 13px;
}
.form-control:focus{
    background-color: white;
}
.custom-control-label{
    font-size: 14px;
}
@media(min-width: 360px) and (max-width: 600px){
    .btn-second-block{
        margin-left: -110px !important;
    }
    .btn-group{
        margin-left: 50px !important;
    }
}
@media(min-width: 550px) and (max-width: 650px){
    .btn-second-block{
        margin-left: -180px !important;
    }
    .btn-group{
        margin-left: 50px !important;
    }
}
@media(min-width: 650px) and (max-width: 800px){
    .btn-second-block{
        margin-left: -150px !important;
    }
    .btn-group{
        margin-left: 50px !important;
    }
}
@media(min-width: 750px) and (max-width: 800px){
    .btn-second-block{
        margin-left: -325px !important;
    }
    .btn-group{
        margin-left: 150px !important;
    }
}
@media(min-width: 800px) and (max-width: 900px){
    .btn-second-block{
        margin-left: -325px !important;
    }
    .btn-group{
        margin-left: 150px !important;
    }
}
@media(min-width: 900px) and (max-width: 950px){
    .btn-second-block{
        margin-left: -325px !important;
    }
    .btn-group{
        margin-left: 150px !important;
    }
}
@media(min-width: 950px) and (max-width: 1000px){
    .btn-second-block{
        margin-left: -325px !important;
    }
    .btn-group{
        margin-left: 150px !important;
    }
}
@media(min-width: 1000px) and (max-width: 1100px){
    .btn-second-block{
        margin-left: -30px !important;
    }
    .btn-group{
        margin-left: 10px !important;
    }
    .card{
        width: 400px !important;
    }
}
@media(min-width: 1100px) and (max-width: 1200px){
    .btn-second-block{
        margin-left: -35px !important;
    }
    .btn-group{
        margin-left: 10px !important;
    }
    .card{
        width: 400px !important;
    }
}