@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400; 500;700;800;900&display=swap");
    :root {
    --red:  #ff3838;
    --gray:  #777777;
    --blue:  #1494a9;
    --white:  #ffffff;
    --chalk:  #f5f5f5;
    --green:  #11b76b;
    --purple:  #b12fad;
    --orange:  #e86121;
    --yellow:  #ffab10;
    --text:  #555555;
    --dark:  #0d0633;
    --border:  #e8e8e8;
    --heading:  #232d3b;
    --primary:  #0044bb;
    --primary-light:  #75a7ff;
    --primary-hover:  #0022aa;
    --view:  #8edb04;
    --click:  #01cbd5;
    --rating:  #e8ce00;
    --sale:  #dc3545;
    --rent:  #03a70c;
    --booking:  #7209af;
    --facebook:  #3b5998;
    --linkedin:  #0e76a8;
    --twitter:  #00acee;
    --orange: #ff6f00;
    --orange-hover: #ff6f22;
    --black-light: #444444;
    --black-light-hover: #555555;
    --sandal: #fdf8f4;
    --primary-bshadow:  0px 15px 35px 0px rgba(0,  0,  0,  0.1);
    --primary-tshadow:  2px 3px 8px rgba(0,  0,  0,  0.1);
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
}
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, span, label {
    margin-bottom: 0px;
}
html, body {
    scroll-behavior: smooth;
}
body {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Heebo',  sans-serif;
    line-height: 26px;
    padding:0;
    margin:0;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
}
h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}
h2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
h6 {
    font-size: 16px;
    font-weight: 500;
}
input, textarea {
    border: none;
    outline: none;
}
input::placeholder, textarea::placeholder {
    font-size: 15px;
    color: var(--gray);
    letter-spacing: 0.3px;
    text-transform: capitalize;
}
button {
    border: none;
    outline: none;
    background: none;
}
button:focus {
    outline: none;
}
.center-50 {
    text-align: center;
    margin-top: 50px;
}
.center-20 {
    text-align: center;
    margin-top: 20px;
}
@media (max-width: 991px) {
    .content-reverse {
    flex-wrap: wrap-reverse;
}
@media(min-width: 360px) and (max-width: 550px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 480px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 480px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 460px !important;
        height: 280px !important;
        margin-top: 120px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 300px !important;
        width: 460px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 360px !important;
    }    
    .modal-content-cus{
        margin-left: 0px !important;
        width: 450px !important;
    }
    .suggest-slider{
        width: 400px !important;
    }
    .input-group-text{
        margin-left: 120px !important;
    }
    .slick-slider{
        width: 400px !important;
    }
}
@media(min-width: 550px) and (max-width: 650px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 520px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 520px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 520px !important;
        height: 320px !important;
        margin-top: 120px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 300px !important;
        width: 520px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 400px !important;
    }   
    .modal-content-cus{
        margin-left: 0px !important;
        width: 500px !important;
    } 
    .input-group-text{
        margin-left: 155px !important;
    }
}
@media(min-width: 650px) and (max-width: 750px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 600px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 600px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 480px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 480px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 350px !important;
    }  
    .input-group-text{
        margin-left: 155px !important;
    }
}
@media(min-width: 750px) and (max-width: 850px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 700px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 700px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 480px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 480px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 350px !important;
    }  
    .input-group-text{
        margin-left: 155px !important;
    }
}
@media(min-width: 850px) and (max-width: 900px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    #gallery-main img{
        width: 580px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 680px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 350px !important;
    }  
    .input-group-text{
        margin-left: 285px !important;
    }
}
@media(min-width: 850px) and (max-width: 900px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 700px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 700px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 650px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 650px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 550px !important;
    }  
    .input-group-text{
        margin-left: 335px !important;
    }
}
@media(min-width: 900px) and (max-width: 1000px){
    .header-logo{
        margin-top: 0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 700px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 700px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 660px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 660px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 560px !important;
    }  
    .input-group-text{
        margin-left: 335px !important;
    }
}


@media(min-width: 1000px) and (max-width: 1100px){
    .header-logo{
        margin-top: 30px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .header-search{
        margin-left:-0px !important;
        width: 700px !important;
    }    
    .header-option{
        margin-left: 0px !important;
        width: 700px !important;
    }
    .footer-end-content{
        margin-left: 0px !important;
    }
    .product-img{
        height:200px !important
    }
    #gallery-main img{
        width: 660px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 660px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 560px !important;
    }  
    .input-group-text{
        margin-left: 335px !important;
    }
}
@media(min-width: 1100px) and (max-width: 1200px){
    .header-logo{
        margin-top: 30px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    .input-group-text{
        margin-left: 335px !important;
    }
}
@media(min-width: 1200px) and (max-width: 1100px){
    .header-logo{
        margin-top: 30px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
    }
    .header-part{
        height:65px !important;
    }
    #gallery-main img{
        width: 460px !important;
        height: 320px !important;
        margin-top: 80px !important;
    }  
    #gallery-con #thumbnails {
        margin-top: 340px !important;
        width: 660px !important;
    }
    #gallery-con #thumbnails #thumbcon{
        width: 560px !important;
    }  
    .common-card-c1{
        margin-left: 300px !important;
    }
}

}.form-group {
    margin-bottom: 20px;
}
.form-control {
    border: none;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border-radius: 0px;
    color: #232d3b;
    background: #f5f5f5;
    border-bottom: 2px solid #e8e8e8;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    color: gray;
    background: #f5f5f5;
    border-color: #444444;
}
textarea.form-control {
    height: 140px;
    padding: 15px 20px;
}
.form-btn .btn {
    width: 100%;
    height: 50px;
    padding: 10px 30px;
}
.form-label {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 8px;
    text-transform: capitalize;
}
.form-control::-webkit-file-upload-button {
    height: 45px;
    border: none;
    background: none;
    color: var(--placeholder);
}
.form-control::-webkit-file-upload-button:focus {
    border: none;
    outline: none;
}
.btn {
    border: none;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid;
    padding: 14px 32px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-shadow: var(--primary-tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.btn:focus {
    box-shadow: none !important;
}
.btn i {
    margin-top: -1px;
    margin-right: 5px;
}
.btn-inline {
    color: white;
    background-color: black;

    border-color: white;
}
.btn-inline:hover {
    color: white;
    background: black;
    border-color: var(--black-light-hover);
}
.btn-outline {
    color: var(--primary);
    background: var(--white);
    border-color: var(--primary);
}
.btn-outline:hover {
    color: white;
    background: var(--primary);
    border-color: var(--primary);
}
.dropdown-list {
    width: 100%;
    display: none;
    background: var(--white);
    border-top: 2px solid var(--primary);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dropdown-list li {
    border-bottom: 1px solid var(--border);
}
.dropdown-list li:last-child {
    border-bottom: none;
}
.dropdown-list li a span {
    color: var(--sale);
    margin-left: 10px;
}
.dropdown-link {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: var(--text);
    padding: 10px 0px 10px 50px;
    text-transform: capitalize;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dropdown-link:hover {
    color: var(--primary);
    background: var(--chalk);
}
.dropdown-link:hover::before {
    background: var(--primary);
}
.dropdown-link::before {
    position: absolute;
    content: "";
    top: 48%;
    left: 30px;
    width: 10px;
    height: 2px;
    background: var(--gray);
    transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.nasted-dropdown {
    height: 292px;
    padding: 0px 8px;
    overflow-y: scroll;
}
.nasted-dropdown li {
    border-bottom: 1px solid var(--border);
}
.nasted-dropdown li:last-child {
    border-bottom: none;
}
.nasted-menu {
    width: 100%;
    cursor: pointer;
    padding: 8px 0px;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.nasted-menu:hover {
    color: var(--primary);
}
.nasted-menu p {
    font-size: 15px;
    text-transform: capitalize;
}
.nasted-menu p span {
    font-size: 12px;
    margin-right: 8px;
}
.nasted-menu i {
    font-size: 10px;
}
.nasted-menu-list {
    padding: 0px 15px;
    display: none;
}
.nasted-menu-list li a {
    font-size: 14px;
    padding: 6px 0px;
    position: relative;
    margin-left: 25px;
    color: var(--gray);
}
.nasted-menu-list li a::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 10px;
    height: 1px;
    background: var(--gray);
}
.nasted-menu-list li a:hover {
    color: var(--primary);
}
.nasted-menu-list li a:hover::before {
    background: var(--primary);
}
@media (min-width: 768px) and (max-width: 991px) {
    .nasted-dropdown {
    height: 200px;
}
}.nav {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.nav-tabs li {
    width: 100%}
.nav-tabs li .nav-link {
    width: 100%;
    border: none;
    padding: 16px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--heading);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: var(--tab-radius);
    border-bottom: 3px solid transparent;
    text-shadow: var(--primary-tshadow);
}
.nav-tabs li .nav-link:hover {
    background: var(--chalk);
    border-color: transparent;
}
.nav-tabs li .active {
    /*color: var(--primary) !important;*/
    color: #ff6f00 !important;
    background: var(--chalk) !important;
    /*border-color: var(--primary) !important;*/
    border-color: #ff6f00 !important;
}
.tab-pane {
    display: none;
    padding: 0px 50px;
}
.tab-pane.active {
    display: block;
}
@media (max-width: 575px) {
    .nav-tabs li .nav-link {
    padding: 10px 0px;
}
.tab-pane {
    padding: 0px 15px;
}
}@media (min-width: 576px) and (max-width: 991px) {
    .tab-pane {
    padding: 0px 25px;
}
}.section {
    padding: 90px 0px 30px 0px;
}
.section-center-heading {
    text-align: center;
    margin-bottom: 45px;
}
.section-center-heading h2 {
    margin-bottom: 15px;
}
.section-center-heading h2 span {
    color: var(--primary);
}
.section-center-heading p {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
}
.section-side-heading h2 {
    margin-bottom: 15px;
}
.section-side-heading h2 span {
    color: var(--primary);
    font-style: italic;
}
.section-side-heading p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}
.inner-section {
    margin-bottom: 100px;
}
@media (max-width: 767px) {
    .section {
    padding: 60px 0px 0px;
}
.inner-section {
    margin-bottom: 60px;
}
.section-side-heading {
    margin-bottom: 60px;
}
.section-center-heading {
    margin-bottom: 30px;
}
.section-center-heading p {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
}
}@media (max-width: 575px) {
    h2 {
    font-size: 28px;
    line-height: 36px;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .section {
    padding: 80px 0px 0px;
}
.inner-section {
    margin-bottom: 80px;
}
}.alert {
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    position: inherit;
}
.table-list {
    width: 100%}
.table-head {
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.25);
}
.table-head tr {
    background: var(--primary);
}
.table-head tr th {
    text-align: center;
    padding: 16px 25px;
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-transform: uppercase;
    border-right: 1px solid #003399;
}
.table-head tr th:first-child {
    border-radius: 6px 0px 0px 6px;
}
.table-head tr th:last-child {
    border-right: none;
    border-radius: 0px 6px 6px 0px;
}
.table-body tr {
    border-bottom: 1px solid var(--border);
}
.table-body tr td {
    padding: 15px 25px;
    text-align: center;
    text-transform: capitalize;
    border-right: 1px solid var(--border);
}
.table-body tr td:last-child {
    border-right: none;
}
.table-body .badge {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    letter-spacing: 0.5px;
    color: var(--white);
}
.table-product img {
    width: 100px;
    border-radius: 6px;
}
.table-category h6 a {
    color: var(--heading);
}
.table-category h6 a:hover {
    color: var(--primary);
}
.table-price h5 {
    font-family: sans-serif;
    font-weight: 700;
}
.table-condition .use {
    background: var(--orange);
}
.table-condition .new {
    background: var(--green);
}
.table-status .runs {
    background: var(--purple);
}
.table-status .clos {
    background: var(--red);
}
.table-action {
    text-align: center;
}
.table-action .icon {
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    color: var(--primary);
    background: var(--chalk);
    text-shadow: var(--primary-tshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.table-action .icon:hover {
    color: var(--white);
    background: var(--primary);
}
.table-action .active {
    color: var(--white);
    background: var(--primary);
}
@media (max-width: 991px) {
    .table-scroll {
    overflow-x: scroll;
}
.table-list {
    width: 900px;
}
}.modal-header h4 {
    font-weight: 500;
}
.modal-header button {
    font-size: 20px;
    color: var(--text);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.modal-header button:hover {
    color: var(--primary);
}
.modal-link {
    display: block;
    text-align: left;
    position: relative;
    text-transform: capitalize;
    padding: 10px 0px 10px 60px;
    border-radius: 5px;
    width: 100%;
    color: var(--text);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.modal-link:hover {
    color: var(--primary);
    background: var(--chalk);
}
.modal-link:hover::before {
    color: var(--primary);
}
.modal-link::before {
    position: absolute;
    content: "\f00c";
    top: 50%;
    left: 30px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Font Awesome 5 Free';
    color: var(--text);
    transform: translateY(-50%);
}
.modal-link.active {
    color: var(--primary);
    background: var(--chalk);
}
.modal-link.active::before {
    color: var(--primary);
}
.modal-number {
    margin: 15px 0px;
    text-align: center;
    font-family: sans-serif;
    color: #0044bb;
}
.modal-share {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-share a {
    margin: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-share a i {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    text-align: center;
    color: #ffffff;
    background: #0044bb;
}
.modal-share a span {
    font-size: 15px;
    font-weight: 500;
    color: var(--heading);
    white-space: nowrap;
    text-transform: capitalize;
}
.modal-share .facebook {
    background: var(--facebook);
}
.modal-share .twitter {
    background: var(--twitter);
}
.modal-share .linkedin {
    background: var(--linkedin);
}
.breadcrumb {
    align-items: center;
    background: none;
    padding: 0px;
    margin: 0px;
}
.breadcrumb li {
    text-transform: capitalize;
}
.breadcrumb li a {
    color: #f5f5f5;
    text-shadow: var(--primary-tshadow);
}
.breadcrumb li a:hover {
    color: var(--primary-light);
    text-decoration: underline;
}
.breadcrumb .active {
    color: #f5f5f5;
    text-shadow: var(--primary-tshadow);
}
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--primary-light);
    text-shadow: var(--primary-tshadow);
}
.sale {
    background: #dc3545;
}
.rent {
    background: var(--rent);
}
.booking {
    background: #7209af;
}
.flat-badge {
    color: var(--white);
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}
.cross-vertical-badge {
    position: relative;
    display: inline-block;
}
.cross-vertical-badge:hover span {
    visibility: visible;
    opacity: 1;
    left: 35px;
}
.cross-vertical-badge i {
    font-size: 16px;
    padding: 8px 8px 12px;
    color: var(--white);
    text-align: center;
    background: var(--primary);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    clip-path: polygon(0 0,  53% 0,  100% 0,  100% 100%,  50% 85%,  0 100%);
}
.cross-vertical-badge span {
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 5px;
    letter-spacing: 0.3px;
    color: var(--white);
    background: var(--dark);
    text-transform: capitalize;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.cross-vertical-badge span::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 1px;
    background: var(--dark);
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.cross-inline-badge {
    font-size: 15px;
    font-weight: 500;
    padding: 3px 22px 3px 15px;
    border-radius: 0px 5px 5px 0px;
    text-transform: capitalize;
    color: var(--white);
    background: var(--primary);
    clip-path: polygon(100% 0%,  90% 50%,  100% 100%,  0 100%,  0% 50%,  0 0);
}
.cross-inline-badge span {
    margin-right: 8px;
    letter-spacing: 0.5px;
}
.pagination {
    align-items: center;
    justify-content: center;
}
.page-item {
    margin: 0px 3px;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 50%}
.page-item .active {
    color: var(--white);
    background: var(--primary);
}
.page-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    border: none;
    padding: 0px;
    color: var(--gray);
    background: var(--white);
}
.page-link:hover {
    color: var(--white);
    background: var(--primary);
}
.page-link:focus {
    box-shadow: none;
}
@media (max-width: 991px) {
    .page-link {
    width: 35px;
    height: 35px;
    line-height: 35px;
}
}.slider-arrow:hover .dandik, .slider-arrow:hover .bamdik {
    visibility: visible;
    opacity: 1;
}
.slider-dots ul {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-dots ul li {
    width: 25px;
    height: 5px;
    border-radius: 30px;
    background: var(--gray);
    margin: 0px 10px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
.slider-dots ul li button {
    display: none;
}
.slider-dots ul li.slick-active {
    background: var(--primary);
}
.dandik, .bamdik {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    /*color: var(--primary);*/
    color: #444;
    background: var(--white);
    text-shadow: var(--primary-tshadow);
    box-shadow: var(--primary-bshadow);
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dandik:hover, .bamdik:hover {
    color: var(--white);
    /*background: var(--primary);*/
    background-color: #444;
}
.dandik {
    right: -25px;
}
.bamdik {
    left: -25px;
}
.star-rating {
    direction: rtl;
    margin-bottom: 25px;
    text-align: center;
}
.star-rating input {
    display: none;
}
.star-rating input:checked ~ label::after {
    opacity: 1;
}
.star-rating label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0px 8px;
}
.star-rating label:hover::after {
    opacity: 1;
}
.star-rating label:hover:hover ~ label::after {
    opacity: 1;
}
.star-rating label::before {
    content: "\f005";
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 35px;
    display: block;
    color: #bbbbbb;
}
.star-rating label::after {
    content: "\f005";
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 35px;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    color: #ffcc23;
    opacity: 0;
}
@media (max-width: 575px) {
    .star-rating label {
    margin: 0px 3px;
}
}.dropdown-card {
    position: absolute;
    top: 62px;
    right: 0px;
    z-index: 3;
    width: 320px;
    border-radius: 8px;
    padding-bottom: 15px;
    background: var(--white);
    box-shadow: var(--primary-bshadow);
    display: none;
}
.dropdown-header {
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-header h5 {
    text-transform: capitalize;
}
.dropdown-header a {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--primary);
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dropdown-header a:hover {
    text-decoration: underline;
}
.suggest-card {
    margin: 0px 8px;
    border-radius: 8px;
    padding: 15px 0px 21px;
    text-align: center;
    border-bottom: 2px solid #444;
    /*background: #fdf8f4;*/
    background-color: #f7f7ff;
    width:170px !important;
    height: 150px;
    padding: 10px;
}
.suggest-card img {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.suggest-card h6 {
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin-top: 15px;
}
.suggest-card h6:hover {
    color: var(--primary);
}
.suggest-card p {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-light);
}
.product-card {
    border-radius: 8px;
    margin-bottom: 30px;
    background: var(--chalk);
    overflow: hidden;
    border: 1px solid var(--border);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
}
.product-card:hover {
    background: var(--white);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}
.product-card:hover .product-media::before {
    visibility: visible;
    opacity: 1;
}
.product-card:hover .product-img img {
    transform: scale(1.08);
}
.product-card:hover .product-action {
    visibility: visible;
    opacity: 1;
}
.product-media {
    position: relative;
}
.product-media::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0) 65%,  rgba(0, 0, 0, 0.8) 90%);
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-img {
    overflow: hidden;
}
.product-img img {
    width: 100%;
    transition: all linear .5s;
}
.product-badge {
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 2;
}
.product-type {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}
.product-action {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    padding: 15px 15px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-action li i {
    margin-right: 5px;
    margin-bottom: 1px;
    font-size: 14px;
}
.product-action li span {
    font-size: 14px;
    color: #f5f5f5;
}
.product-action .view i {
    color: var(--view);
}
.product-action .click i {
    color: var(--click);
}
.product-action .rating i {
    color: #e8ce00;
}
.product-content {
    padding: 0px 15px 0px 15px;
}
.product-category {
    margin-bottom: 12px;
    padding: 0px 0px 8px;
    border-bottom: 1px solid var(--border);
}
.product-category li i {
    font-size: 13px;
    color: #999999;
    margin-right: 8px;
}
.product-category .breadcrumb-item {
    font-size: 13px;
    color: var(--gray);
    white-space: nowrap;
}
.product-category .breadcrumb-item::before {
    color: var(--gray);
}
.product-category .breadcrumb-item a {
    color: var(--gray);
}
.product-category .breadcrumb-item a:hover {
    color: var(--primary);
}
.product-title {
    margin-bottom: 15px;
}
.product-title a {
    color: var(--heading);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 50px;
}
.product-title a:hover {
    color: var(--black-light);
}
.product-meta {
    margin-bottom: 12px;
}
.product-meta span {
    font-size: 13px;  
}
.product-meta .publish-date{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width:120px !important;
    font-size: 13px;
    display:inline-block;
    position: absolute;
    padding-top: 2px;
}
.product-meta i {
    margin-right: 5px;
    color: #999999;
}
.product-info {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border);
}
.product-price {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 15px;
}
.product-price span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
    color: var(--gray);
    white-space: nowrap;
    text-transform: capitalize;
}
.product-btn a, .product-btn button {
    margin-left: 8px;
    padding-left: 12px;
    color: var(--gray);
    border-left: 1px solid var(--border);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-btn a:hover, .product-btn button:hover {
    color: var(--primary);
}
.product-btn .fas.fa-heart {
    color: var(--primary);
}
.product-card.standard {
    display: flex;
    align-items: center;
}
.product-card.standard .product-media {
    margin: 0px 12px;
}
.product-card.standard .product-img img {
    width: 220px;
    height: 190px;
}
.product-card.standard .product-content {
    width: 100%}
.ad-standard .product-card.standard .product-media {
    margin: 15px 15px;
}
.ad-standard .product-card.standard .product-img img {
    width: 280px;
}
@media (min-width: 380px) and (max-width: 575px) {
    .product-card {
    width: 350px;
    margin: 0px auto 30px;
}
}@media (max-width: 575px) {
    .product-card.standard, .ad-standard .product-card.standard {
    flex-direction: column;
}
.product-card.standard .product-media, .ad-standard .product-card.standard .product-media {
    margin: 0px;
}
.product-card.standard .product-img img, .ad-standard .product-card.standard .product-img img {
    width: 100%;
    height: auto;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .product-card.standard .product-img img, .ad-standard .product-card.standard .product-img img {
    width: 225px;
}
}.feature-card {
    position: relative;
    overflow: hidden;
}
.feature-card::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0) 30%,  rgba(0, 0, 0, 0.9) 90%);
}
.feature-img {
    display: block;
}
.feature-img img {
    width: 100%;
    border-radius: 8px;
}
.feature-badge {
    position: absolute;
    top: 20px;
    left: -80px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.3);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.feature-badge:hover {
    left: 0px;
}
.feature-wish {
    position: absolute;
    top: 20px;
    right: 20px;
}
.feature-wish i {
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    border-radius: 8px;
    text-align: center;
    color: var(--border);
    background: rgba(0, 0, 0, 0.3);
}
.feature-wish.active i {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
.feature-content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 30px 25px;
}
.feature-category {
    margin-bottom: 15px;
}
.feature-category .flat-badge {
    margin-right: 12px;
}
.feature-title {
    font-weight: 500;
    margin-bottom: 15px;
}
.feature-title a {
    color: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.feature-title a:hover {
    color: var(--primary-light);
}
.feature-price {
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    color: var(--primary-light);
    margin-right: 30px;
}
.feature-price small {
    font-size: 15px;
    font-weight: 400;
    margin-left: 3px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}
.feature-time {
    font-size: 15px;
    color: var(--border);
    letter-spacing: 0.3px;
    white-space: nowrap;
}
.feature-time i {
    margin-right: 5px;
}
.feature-thumb {
    cursor: pointer;
    margin: 0px 6px;
    border-radius: 8px;
    border: 2px solid var(--white);
}
.feature-thumb img {
    width: 100%;
    border-radius: 8px;
    border: 3px solid var(--white);
}
.feature-thumb.slick-center {
    border: 2px solid var(--primary) !important;
}
.ad-feature-slider {
    margin-bottom: 30px;
}
.ad-feature-slider .feature-card {
    margin: 0px 10px;
    opacity: 0.5;
}
.ad-feature-slider .slick-center {
    opacity: 1;
}
@media (max-width: 400px) {
    .ad-feature-slider .feature-card {
    margin: 0px;
}
}@media (max-width: 575px) {
    .feature-content {
    position: inherit;
    padding: 15px 15px 15px;
    background: var(--heading);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.feature-img img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.feature-wish {
    top: 15px;
    right: 15px;
}
.feature-title {
    font-size: 18px;
    line-height: 26px;
}
.feature-meta {
    display: flex;
    flex-direction: column;
}
.feature-price {
    margin: 0px 0px 5px;
}
}.city-card {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 22px;
    border-radius: 8px;
    height: 230px;
    width: 100%}
.city-card:hover .city-content {
    bottom: 25px;
}
.city-card:hover .city-content p {
    opacity: 1;
}
.city-card::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(rgba(0, 0, 0, 0) 40%,  rgba(0, 0, 0, 0.5) 90%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.city-content {
    position: absolute;
    bottom: 5px;
    width: 100%;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.city-content h4 {
    font-weight: 500;
    color: var(--white);
    text-transform: capitalize;
}
.city-content p {
    opacity: 0;
    color: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
@media (min-width: 400px) and (max-width: 575px) {
    .city-card {
    width: 370px;
    margin: 0px auto 22px;
}
}.category-card {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 30px;
    background: var(--chalk);
    border: 1px solid grey;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
     height: 330px;
}

.category-card:hover {
    background: var(--white);
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
    overflow-y:scroll;
}
.category-head {
    position: relative;
}
.category-head img {
    width: 100%;
    height: 130px;
}
.category-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 69, 187, 0.5),  rgba(8, 2, 41, 0.5));
}
.category-content h4 {
    text-transform: capitalize;
    color: #f5f5f5;
    margin-bottom: 5px;
    font-weight: 500;
    opacity: 1;
}
.category-content p {
    font-size: 14px;
    line-height: 14px;
    color: #f5f5f5;
}
.category-list {
    /*padding: 12px 20px;*/    
    
}

.category-list li {
    border-bottom: 1px solid var(--border);
    padding: 5px 20px;    
}
.category-list li:hover{
    background-color: #f7f7f7;
    transition: 0.3s ease-in;
}
.category-list li:last-child {
    border-bottom: none;
}
.category-list li a {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.category-list li a:hover h6, .category-list li a:hover p {
    color: #444;
}
.category-list li a h6 {
    font-size: 15px;
    text-transform: capitalize;
}
.category-list li a p {
    font-size: 14px;
    line-height: 14px;
    color: var(--heading);
}
@media (min-width: 350px) and (max-width: 575px) {
    .category-card {
    width: 320px;
    margin: 0px auto 30px;
}
}.price-card {
    padding: 55px 50px 40px;
    background: var(--white);
    border-radius: 8px;
    border: 2px solid var(--white);
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.price-card:hover {
    border-color: var(--primary);
}
.price-head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
}
.price-head i {
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--primary);
}
.price-head h3 {
    font-size: 40px;
    font-family: sans-serif;
    color: var(--primary);
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}
.price-head h4 {
    text-transform: uppercase;
}
.price-list {
    margin-bottom: 42px;
}
.price-list li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0px;
}
.price-list li i {
    color: var(--primary);
    margin-right: 12px;
    font-size: 14px;
    margin-top: 6px;
}
.price-list li p {
    color: var(--gray);
}
.price-btn .btn {
    padding: 12px 30px;
}
.price-active {
    border-color: var(--primary);
}
@media (max-width: 991px) {
    .price-card {
    margin-bottom: 30px;
}
}@media (max-width: 575px) {
    .price-card {
    padding: 55px 30px 40px;
}
}@media (min-width: 350px) and (max-width: 575px) {
    .price-card {
    width: 320px;
    margin: 0px auto 30px;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .price-card {
    width: 380px;
    margin: 0px auto 30px;
}
}@media (min-width: 992px) and (max-width: 1199px) {
    .price-card {
    padding: 65px 35px 50px;
}
}.blog-card {
    background: var(--chalk);
    border-radius: 8px;
    border: 1px solid var(--border);
    position: relative;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-card:hover {
    background: var(--white);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}
.blog-card:hover .blog-img img {
    transform: scale(1.08) rotate(1deg);
}
.blog-img {
    position: relative;
    overflow: hidden;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-img img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-overlay span {
    color: var(--white);
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}
.safety {
    background: #dc3545;
}
.marketing {
    background: #28a745;
}
.advertise {
    background: #982fd5;
}
.security {
    background: #e69721;
}
.blog-content {
    margin-top: -30px;
    padding: 0px 20px 20px;
}
.blog-avatar {
    margin-bottom: 15px;
}
.blog-avatar img {
    width: 60px;
    border-radius: 8px;
    border: 3px solid var(--white);
}
.blog-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.blog-meta li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-meta li i {
    font-size: 15px;
    margin-right: 8px;
    color: var(--primary);
    margin-top: -1px;
}
.blog-meta li p {
    font-size: 15px;
    line-height: 15px;
    color: var(--heading);
    text-transform: capitalize;
}
.blog-meta li p a {
    color: var(--heading);
}
.blog-text {
    margin-bottom: 27px;
}
.blog-text h4 {
    font-weight: 600;
    margin-bottom: 10px;
}
.blog-text h4 a {
    color: var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-text h4 a:hover {
    color: var(--primary);
}
.blog-read {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--heading);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-read:hover {
    color: var(--primary);
}
.blog-read:hover i {
    margin-left: 8px;
}
.blog-read i {
    margin-left: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.best-card {
    display: flex;
    margin: 0px 15px 50px 0px;
}
.best-card:hover .best-icon i {
    color: var(--white);
    background: var(--primary);
}
.best-icon i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: var(--chalk);
    color: var(--heading);
    font-size: 18px;
    margin-right: 25px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.best-content h4 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.team-card {
    text-align: center;
    margin-bottom: 50px;
}
.team-card img {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 8px;
}
.team-card h5 {
    font-weight: 600;
    text-transform: capitalize;
}
.team-card h5 a {
    color: var(--heading);
}
.team-card p {
    font-size: 15px;
    font-weight: 500;
}
.team-card ul li {
    display: inline-block;
    margin: 0px 5px;
}
.team-card ul li a i {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--gray);
    background: var(--white);
    box-shadow: 0px 5px 0px 0px var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.team-card ul li a i:hover {
    color: var(--white);
    background: var(--primary);
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 575px) {
    .team-card {
    width: 290px;
    margin: 0px auto 50px;
}
}.counter-card {
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter-image img {
    width: 60px;
    margin-right: 30px;
}
.counter-content {
    text-align: left;
}
.counter-content h2 {
    font-family: sans-serif;
}
.counter-content p {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
@media (max-width: 767px) {
    .counter-card {
    margin-bottom: 60px;
}
}.account-card {
    margin-bottom: 30px;
    padding: 0px 30px 30px;
    background: var(--white);
    border-radius: 8px;
}
.account-title {
    padding: 18px 0px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.account-title::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0px;
    width: 50px;
    height: 2px;
    background: var(--primary);
}
.account-title h3 {
    font-size: 20px;
}
.account-title button, .account-title a {
    border: none;
    width: 55px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    color: var(--primary);
    background: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.account-title button:hover, .account-title a:hover {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
.account-card-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--border);
}
.account-card-list li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.account-card-list li:hover h6 {
    color: var(--white);
    background: var(--primary);
}
.account-card-list li h5 {
    font-size: 16px;
    font-weight: 500;
}
.account-card-list li h6 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--chalk);
}
.account-card-link li {
    margin-bottom: 8px;
}
.account-card-link li:last-child {
    margin-bottom: 0px;
}
.account-card-link li a {
    color: var(--gray);
}
.account-card-link li a:hover {
    color: var(--primary);
}
.account-card-link li a i {
    margin-right: 5px;
}
.account-card-text {
    margin-left: 20px;
}
.account-card-text li {
    list-style-type: disc;
    margin-bottom: 20px;
}
.account-card-text li:last-child {
    margin-bottom: 0px;
}
.account-card-form .form-group {
    margin-bottom: 20px;
}
.account-card-form .form-group:last-child {
    margin-bottom: 0px;
}
.account-card-form .form-group .btn {
    width: 100%;
    padding: 10px 30px;
}
@media (max-width: 575px) {
    .account-card {
    padding: 0px 20px 20px;
}
}.common-card {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: #ffffff;
}
.card-header {
    padding: 0px;
    padding-bottom: 18px;
    margin-bottom: 25px;
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.card-header::before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0px;
    width: 50px;
    height: 2px;
    /*background: var(--primary);*/
}
.card-title {
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Poppins-Semi-Bold' !important;
    font-size: 23px;
}
.card-btn {
    border: none;
    width: 55px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    color: var(--primary);
    background: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.card-btn:hover {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
@media (max-width: 575px) {
    .common-card {
    padding: 30px 25px;
}
}.message-list {
    height: 400px;
    overflow-y: scroll;
}
.message-item {
    border-top: 1px solid var(--border);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.message-item:hover {
    background: var(--chalk);
}
.message-link {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.message-img {
    border-radius: 50%;
    margin-right: 12px;
    border: 2px solid var(--primary);
    position: relative;
}
.message-img::before {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #aaaaaa;
    border: 2px solid var(--white);
}
.message-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.message-img.active::before {
    background: var(--green);
}
.message-text h6 {
    margin-bottom: 5px;
    text-transform: capitalize;
}
.message-text h6 span {
    font-size: 400;
    font-size: 12px;
    color: var(--gray);
    padding-left: 5px;
    margin-left: 5px;
    white-space: nowrap;
    position: relative;
}
.message-text h6 span::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--gray);
    transform: translate(-50%,  -50%);
}
.message-text p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
}
.message-text p span {
    font-weight: 500;
    margin-right: 3px;
    text-transform: capitalize;
}
.message-count {
    font-size: 12px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 30px;
    color: var(--white);
    background: var(--primary);
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.message-item.unread {
    border-radius: 8px;
    background: #e6f1f9;
}
.message-item.unread .message-text p {
    font-weight: 500;
    color: var(--heading);
}
.notify-list {
    height: 400px;
    overflow-y: scroll;
}
.notify-item {
    position: relative;
    border-top: 1px solid var(--border);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.notify-item:hover {
    background: var(--chalk);
}
.notify-item.active {
    background: #e6f1f9;
}
.notify-link {
    padding: 12px 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.notify-img {
    border-radius: 50%;
    margin-right: 12px;
    border: 2px solid var(--primary);
}
.notify-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.notify-text {
    font-size: 15px;
    line-height: 20px;
    color: var(--text);
}
.notify-text span {
    font-weight: 500;
    text-transform: capitalize;
}
.notify-time {
    font-size: 13px;
    line-height: 20px;
    color: var(--primary);
}
.review-list {
    margin-bottom: 50px;
}
.review-item {
    padding: 30px 45px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    margin-bottom: 25px;
}
.review-item:last-child {
    margin-bottom: 0px;
}
.review-author {
    padding-top: 25px;
    margin: 25px 0px 0px 50px;
    border-top: 1px solid var(--border);
}
.review-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.review-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.review-avatar {
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #444;
}
.review-avatar img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.review-meta h6 {
    font-weight: 500;
    margin-bottom: 8px;
    color: #0044bb;
    text-transform: capitalize;
}
.review-meta h6 a {
    color: #232d3b;
}
.review-meta h6 a:hover {
    color: #0044bb;
}
.review-meta h6 span {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    white-space: nowrap;
}
.review-meta ul li {
    display: inline-block;
    margin-right: 3px;
}
.review-meta ul li i {
    font-size: 14px;
    color: #bbbbbb;
}
.review-meta ul li .active {
    color: #ffcc23;
}
.review-meta ul li h5 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.review-widget {
    position: relative;
}
.review-dots-btn i {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.review-dots-btn i:hover {
    color: var(--white);
    background: var(--primary);
}
.review-widget-list {
    position: absolute;
    top: 35px;
    right: 0px;
    width: 100px;
    padding: 10px 10px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: var(--primary-bshadow);
    display: none;
}
.review-widget-list li a {
    font-size: 13px;
    color: var(--gray);
    padding-left: 8px;
    display: block;
}
.review-widget-list li a i {
    margin-right: 5px;
}
.review-widget-list li a:hover {
    background: var(--chalk);
}
.review-widget-list.active {
    display: block;
}
.review-reply {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}
.review-reply input {
    height: 35px;
    border-bottom: none;
    border-radius: 3px;
    background: var(--white);
    border: 1px solid #dddddd;
}
.review-reply input:focus {
    background: var(--white);
    border-color: var(--primary);
}
.review-reply button {
    border: none;
    height: 35px;
    width: 115px;
    font-size: 14px;
    margin-left: 15px;
    border-radius: 3px;
    text-align: center;
    color: var(--white);
    background: var(--primary);
}
.review-reply button i {
    margin-right: 5px;
}
.review-form-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,  1fr);
    grid-template-rows: auto;
}
.review-submit {
    width: 100%;
    padding: 12px 30px;
}
@media (max-width: 575px) {
    .review-item {
    padding: 20px 20px;
}
.review-author {
    padding-top: 15px;
    margin: 15px 0px 0px 30px;
}
.review-profile {
    flex-direction: column;
    align-items: flex-start;
}
.review-avatar {
    margin: 0px 0px 15px;
}
.review-desc {
    font-size: 15px;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .review-form-grid {
    grid-gap: 0px;
    grid-template-columns: repeat(1,  1fr);
}
}.header-part {
    background: var(--white);
}
.header-part .container {
    padding: 18px 25px;
}
.header-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: var(--white);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.header-fixed .header-widget span {
    color: var(--dark);
}
.header-fixed .header-widget sup {
    border-color: var(--dark);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item {
    position: relative;
}
.header-widget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-widget img {
    width: 40px;
    height: 40px;
    border-radius: 50%}
.header-widget i {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    color: var(--text);
    background: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.header-widget i:hover {
    color: var(--white);
    /*background: var(--primary);*/
    background-color: #444;
    text-shadow: var(--primary-tshadow);
}
.header-widget span {
    font-weight: 500;
    margin-left: 8px;
    color: var(--text);
    white-space: nowrap;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.header-widget span:hover {
    color: var(--orange);
}
.header-widget sup {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 24px;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary);
    border: 2px solid var(--white);
    text-shadow: var(--primary-tshadow);
    box-shadow: var(--primary-bshadow);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.header-logo {
    /*margin: 0px 45px;*/
    position: absolute;
    margin-left: 30px;
}
.header-logo1{
    position: absolute;
    margin-left: 30px;
}
.header-logo1 img {
    width: auto;
    height: 45px;
}
.header-logo img {
    width: auto;
    height: 45px;
}
.search-btn {
    display: none;
}
.post-btn {
    width: 180px;
    padding: 12px 0px;
    margin-left: -150px;
}
.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-right {
    /*display: flex;
    align-items: center;
    justify-content: flex-end;*/
    position: absolute;
    right: 30px;
    margin-top: -17px;
}
.header-right1{    
    position: absolute;
    right: 30px;
    margin-top: -17px;
}

.header-right .header-item {
    margin-right: 20px;
}
.header-form {
    width: 100%;
    margin: 0px 50px;
    position: relative;
}
.header-search {
    border-radius: 8px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    /*justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;*/
    width: 600px;
    margin: 0 auto;
   
}
.header-search input {
    height: 45px;
    background: transparent;
    width: 600px;
}
.header-search button i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: var(--text);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.header-search button i:hover {
    color: var(--black-light);
}
.header-search.active {
    border-radius: 8px 8px 0px 0px;
}
.header-option {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 2;
    width: 100%;
    display: none;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.option-grid {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(3,  1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 15px 15px;
    border-radius: 0px 0px 8px 8px;
    background: white;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
}
.option-grid input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border-radius: 6px;
    background: #f5f5f5;
}
.option-grid button {
    grid-area: 3 / 1 / 4 / 3;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    color: var(--white);
    background: #333;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-grid button i {
    margin-right: 6px;
}
@media (min-width: 1200px) {
    .header-part .container {
    max-width: 100%}
}@media (max-width: 1199px) {
    .header-part .container {
    padding: 15px;
}
.header-content {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.header-logo {
    margin: 0px;
}
.header-user {
    display: none;
}
.search-btn {
    display: block;
}
.header-left {
    width: 100%;
    justify-content: space-between;
}
.header-right {
    display: none;
}
.header-form {
    margin-top: 15px;
    display: none;
}
}.navbar-item {
    border-bottom: 1px solid var(--border);
}
.navbar-link {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 15px;
    color: var(--heading);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.navbar-link:hover {
    color: var(--primary);
    background: var(--chalk);
}
.navbar-link i {
    font-size: 10px;
}
.sidebar-part {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all linear .2s;
}
.sidebar-body {
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background: #fbfbfb;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.sidebar-part.active {
    visibility: visible;
    opacity: 1;
}
.sidebar-part.active .sidebar-body {
    left: 0px;
}
.sidebar-header {
    padding: 18px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.sidebar-logo img {
    width: auto;
    height: 40px;
}
.sidebar-cross {
    border: none;
    outline: none;
    background: none;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.sidebar-cross i {
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: var(--gray);
    text-shadow: var(--primary-tshadow);
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.sidebar-cross i:hover {
    color: var(--white);
    /*background: var(--primary);*/
    background-color: #e8e8e8;
    color: #444;
}
.sidebar-content {
    border-right: 4px solid grey;
    height: 100vh;
}
.sidebar-profile {
    text-align: center;
    padding-top: 70px;
}
.sidebar-avatar {
    border-radius: 50%;
    /*border: 3px solid var(--primary);*/
    margin-bottom: 10px;
}
.sidebar-avatar img {
    width: 120px;
    border-radius: 50%;
    /*border: 3px solid var(--border);*/
    border: 3px solid #444;
}
.sidebar-name {
    color: var(--heading);
    margin-bottom: 10px;
}
.sidebar-post {
    font-size: 12px;
    padding: 8px 18px;
}
.sidebar-menu {
    margin-bottom: 30px;
}
.sidebar-menu .nav-tabs li .nav-link {
    font-size: 12px;
    padding: 8px 0px;
}
.sidebar-menu .tab-pane {
    padding: 0px;
}
.sidebar-footer {
    padding-bottom: 120px;
    text-align: center;
}
.sidebar-footer p {
    font-size: 14px;
    color: var(--heading);
}
.sidebar-footer p a {
    color: var(--primary);
}
.sidebar-footer p a:hover {
    text-decoration: underline;
}
@media (max-width: 1199px) {
    .sidebar-footer {
    padding-bottom: 160px;
}
}@media (max-width: 575px) {
    .sidebar-part.active {
    visibility: visible;
    opacity: 1;
}
.sidebar-part.active .sidebar-body {
    left: 0px;
    width: 100%}
}.mobile-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
    display: none;
}
.mobile-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    padding: 8px 0px;
    border-radius: 8px;
    position: relative;
}
.mobile-widget:hover {
    background: var(--chalk);
}
.mobile-widget:hover i {
    /*color: var(--primary);*/
    color: #444;
}
.mobile-widget:hover span {
    /*color: var(--primary);*/
    color: #444;
}
.mobile-widget i {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--text);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
.mobile-widget span {
    font-size: 10px;
    line-height: 12px;
    color: var(--text);
    text-transform: uppercase;
}
.mobile-widget sup {
    position: absolute;
    top: -5px;
    left: 70%;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 50%;
    transform: translateX(-50%);
    color: white;
    /*background: var(--primary);*/
    background: #444;
    border: 2px solid var(--green-chalk);
    text-shadow: var(--primary-tshadow);
}
.plus-btn {
    margin-top: -35px;
}
.plus-btn i {
    width: 60px;
    height: 60px;
    font-size: 16px;
    line-height: 42px;
    border-radius: 50%;
    margin-bottom: 0px;
    text-align: center;
    color: var(--white);
    /*background: var(--primary);*/
    background-color: #444;
    border: 8px solid var(--white);
}
.plus-btn:hover {
    background: transparent;
}
.plus-btn:hover i {
    color: var(--white);
}
@media (max-width: 1199px) {
    .mobile-nav {
    display: block;
}
}.header-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.filter-short {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-show {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-label {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
    white-space: nowrap;
    text-transform: uppercase;
}
.filter-select {
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
}
.filter-select:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.filter-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.filter-action a i {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: var(--text);
    background: white;
}
.filter-action a i:hover {
    color: var(--primary);
}
.filter-action .active i {
    color: var(--white);
    background: var(--primary);
}
.filter-action .active i:hover {
    color: var(--white);
}
@media (max-width: 575px) {
    .filter-label, .filter-action {
    display: none;
}
.filter-show {
    width: 80px;
}
.filter-short {
    width: 130px;
}
}.product-widget {
    padding: 20px 15px 15px;
    border-radius: 6px;
    margin-bottom: 30px;
    background: var(--chalk);
    border: 1px solid var(--border);
}
.product-widget-title {
    font-weight: 500;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border);
}
.product-widget-group {
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(1,  1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 15px 0px;
}
.product-widget-group input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border-radius: 6px;
    background: var(--white);
}
.product-widget-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 0px;
    border-radius: 6px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--primary);
    background: var(--white);
    border: 1px solid var(--primary);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-widget-btn:hover {
    color: var(--white);
    background: var(--primary);
}
.product-widget-btn i {
    margin-top: -2px;
    margin-right: 6px;
}
.product-widget-list {
    margin: 10px 0px;
}
.product-widget-item {
    margin: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.product-widget-checkbox {
    line-height: 0px;
}
.product-widget-checkbox input {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.product-widget-label {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-widget-label:hover .product-widget-number {
    color: var(--primary);
}
.product-widget-label:hover .product-widget-text {
    color: var(--primary);
}
.product-widget-type {
    font-size: 14px;
    padding: 0px 10px;
    line-height: 26px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    color: var(--white);
}
.product-widget-number {
    font-size: 15px;
}
.product-widget-star i {
    font-size: 14px;
    margin-right: 3px;
    color: var(--yellow);
}
.product-widget-search input {
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border-radius: 6px;
    background: var(--white);
    border: 1px solid var(--border);
}
.product-widget-text {
    font-size: 15px;
    text-transform: capitalize;
}
.product-widget-scroll {
    height: 242px;
    padding-right: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.product-widget-dropitem {
    margin: 15px 0px;
}
.product-widget-link {
    width: 100%;
    font-size: 15px;
    color: var(--text);
    text-transform: capitalize;
    text-align: left;
    position: relative;
}
.product-widget-link:hover {
    color: var(--primary);
}
.product-widget-link::before {
    position: absolute;
    content: "\f054";
    font-size: 12px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(0deg);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-widget-link i {
    font-size: 12px;
    margin-right: 5px;
}
.product-widget-link.active {
    color: var(--primary);
}
.product-widget-link.active::before {
    transform: translateY(-50%) rotate(90deg);
}
.product-widget-dropdown {
    padding: 10px;
    margin: 8px 10px;
    border-radius: 6px;
    background: var(--white);
    display: none;
}
.product-widget-dropdown li a {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    border-radius: 6px;
    padding: 8px 15px;
    color: var(--text);
    background: var(--white);
    white-space: nowrap;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.product-widget-dropdown li a:hover {
    color: var(--primary);
    background: var(--chalk);
}
.footer-pagection {
    padding-top: 30px;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-info {
    font-weight: 500;
    color: var(--gray);
}
@media (max-width: 575px) {
    .footer-pagection {
    margin-bottom: 30px;
    flex-direction: column;
}
.page-info {
    margin-bottom: 15px;
}
}@media (min-width: 576px) and (max-width: 991px) {
    .footer-pagection {
    margin-bottom: 30px;
}
}.blog-sidebar {
    padding: 25px 15px;
    margin-bottom: 30px;
    background: var(--chalk);
    border-radius: 8px;
    border: 1px solid var(--border);
}
.blog-sidebar-title {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border);
}
.blog-sidebar-title h5 {
    font-weight: 700;
    text-transform: uppercase;
}
.blog-src {
    position: relative;
}
.blog-src input {
    width: 100%;
    height: 52px;
    border-radius: 50px;
    padding: 0px 60px 0px 20px;
    border: 2px solid var(--primary);
}
.blog-src button {
    border: none;
    outline: none;
    background: none;
    position: absolute;
    top: 6px;
    right: 6px;
}
.blog-src button i {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
.blog-suggest li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--border);
}
.blog-suggest li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.suggest-img {
    margin-right: 15px;
}
.suggest-img a img {
    width: 100px;
    border-radius: 8px;
}
.suggest-title {
    margin-bottom: 20px;
}
.suggest-title h4 {
    font-size: 18px;
    line-height: 26px;
}
.suggest-title h4 a {
    color: var(--heading);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.suggest-title h4 a:hover {
    color: var(--primary);
}
.suggest-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.suggest-date {
    margin-right: 30px;
}
.suggest-date, .suggest-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.suggest-date i, .suggest-comment i {
    font-size: 16px;
    margin-right: 8px;
    margin-top: -1px;
}
.suggest-date p, .suggest-comment p {
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
}
.blog-cate {
    display: block;
}
.blog-cate li {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.blog-cate li:hover h5 a {
    color: var(--primary);
}
.blog-cate li:hover p {
    color: var(--white);
    background: var(--primary);
}
.blog-cate li h5 {
    font-weight: 500;
}
.blog-cate li h5 a {
    color: var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.blog-cate li h5 a:hover {
    text-decoration: underline;
}
.blog-cate li p {
    font-size: 14px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--white);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
.blog-tag li {
    display: inline-block;
    margin: 0px 8px 12px 0px;
}
.blog-tag li a {
    color: var(--gray);
    font-size: 14px;
    padding: 2px 15px;
    border-radius: 30px;
    text-transform: capitalize;
    border: 1px solid var(--border);
}
.blog-tag li a:hover {
    color: var(--white);
    background: var(--primary);
}
.blog-icon li {
    display: inline-block;
    margin-right: 12px;
}
.blog-icon li a i {
    width: 37px;
    height: 37px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    color: var(--primary);
    background: var(--white);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
.blog-icon li a i:hover {
    color: var(--white);
    background: var(--primary);
}
@media (max-width: 400px) {
    .suggest-meta {
    align-items: flex-start;
    flex-direction: column;
}
.suggest-date {
    margin-bottom: 12px;
}
.blog-icon li {
    margin: 6px;
}
}@media (min-width: 992px) and (max-width: 1199px) {
    .suggest-meta {
    align-items: flex-start;
    flex-direction: column;
}
.suggest-date {
    margin-bottom: 12px;
}
.blog-icon li {
    margin: 6px;
}
}.newsletter {
    margin-bottom: 70px;
}
.news-content h2 {
    margin-bottom: 15px;
    color: var(--chalk);
}
.news-form {
    position: relative;
    margin-top: 23px;
}
.news-form input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    padding: 0px 200px 0px 20px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
.news-form .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    padding: 10px 30px;
}
@media (max-width: 991px) {
    .newsletter {
    margin-bottom: 60px;
}
.news-content {
    margin: 0px 0px 30px;
}
.news-form {
    margin: 0px;
}
}@media (max-width: 575px) {
    .news-form input {
    padding: 0px 75px 0px 20px;
}
.news-form .btn {
    padding: 10px 20px;
}
.news-form .btn i {
    margin-right: 0px;
}
.news-form .btn span {
    display: none;
}
}.footer-part {
    background: #080229;
    padding: 100px 0px 0px;
}
.footer-content h3 {
    color: #bbbbbb;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #333333;
    position: relative;
}
.footer-content h3::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0px;
    width: 60px;
    height: 2px;
    background: var(--primary);
}
.footer-address li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 21px;
}
.footer-address li:last-child {
    margin-bottom: 0px;
}
.footer-address li i {
    font-size: 20px;
    margin: 6px 20px 0px 0px;
}
.footer-address li p span {
    display: block;
    line-height: 30px;
}
.footer-widget li {
    margin-bottom: 20px;
}
.footer-widget li:last-child {
    margin-bottom: 0px;
}
.footer-widget li a {
    color: var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer-widget li a:hover {
    color: var(--chalk);
    text-decoration: underline;
}
.footer-info a {
    margin-bottom: 30px;
}
.footer-info a img {
    width: auto;
    height: 50px;
}
.footer-count li {
    margin-bottom: 30px;
}
.footer-count li:last-child {
    margin-bottom: 0px;
}
.footer-count li h5 {
    margin-bottom: 3px;
    letter-spacing: 0.3px;
    color: var(--chalk);
}
.footer-card-content {
    padding: 50px 0px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    border-top: 1px solid #333333;
}
.footer-payment a, .footer-payment button, .footer-option a, .footer-option button, .footer-app a, .footer-app button {
    margin: 0px 5px;
}
.footer-payment a img, .footer-app a img {
    width: auto;
    height: 38px;
}
.footer-option button {
    border: none;
    outline: none;
    background: none;
    margin: 0px 8px;
    width: 120px;
    padding: 5px 0px;
    border-radius: 8px;
    letter-spacing: 0.3px;
    color: var(--gray);
    border: 1px solid var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer-option button:hover {
    color: var(--chalk);
    border: 1px solid var(--chalk);
}
.footer-option button i {
    margin-right: 8px;
}
.footer-end {
    /*background: #0d0633;*/
    background: #444;
}
.footer-end-content {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 200px;
    color: #fff;
}
.footer-end-content p a {
    color: var(--primary);
}
.footer-end-content p a:hover {
    text-decoration: underline;
}
.footer-social li {
    display: inline-block;
    margin: 5px;
}
.footer-social li a i {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--gray);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer-social li a i:hover {
    color: var(--white);
    background: var(--primary);
}
@media (max-width: 991px) {
    .footer-content {
    margin-bottom: 30px;
}
.footer-end-content {
    padding: 25px 0px;
    flex-direction: column;
    text-align: center;
}
.footer-end-content p {
    margin-bottom: 10px;
}
}@media (max-width: 575px) {
    .footer-part {
    padding: 60px 0px 60px;
}
.footer-content, .footer-info {
    margin-left: 30px;
}
.footer-card-content {
    flex-direction: column;
}
.footer-payment, .footer-option {
    margin-bottom: 30px;
}
}@media (min-width: 576px) and (max-width: 767px) {
    .footer-part {
    padding: 80px 0px 60px;
}
.footer-card-content {
    margin-top: 20px;
}
.footer-payment a, .footer-payment button, .footer-option a, .footer-option button, .footer-app a, .footer-app button {
    margin: 5px;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .footer-part {
    padding: 90px 0px 60px;
}
.footer-card-content {
    margin-top: 20px;
}
.footer-payment, .footer-option, .footer-app {
    text-align: center;
}
.footer-payment a, .footer-payment button, .footer-option a, .footer-option button, .footer-app a, .footer-app button {
    margin: 5px;
}
}@media (min-width: 992px) and (max-width: 1199px) {
    .footer-part {
    padding-bottom: 60px;
}


}.single-banner {
    background: url(../../images/login-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
    z-index: 1;
}
.single-banner::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 53, 138, 0.65),  rgba(5, 44, 112, 0.65));
    z-index: -1;
}
.single-content {
    text-align: center;
}
.single-content h2 {
    color:white;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.single-content .breadcrumb {
    justify-content: center;
}
@media (max-width: 767px) {
    .single-banner {
    padding: 70px 0px;
}
}.dashboard-banner {
    padding: 100px 0px 200px;
}
.dash-header-part {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.dash-header-card {
    padding: 30px 30px 0px 30px;
    background: white;
    border-radius: 8px;
}
.dash-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
}
.dash-header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash-avatar {
    margin-right: 30px;
}
.dash-avatar a {
    border-radius: 50%;
    border: 3px solid var(--primary);
}
.dash-avatar a img {
    width: 140px;
    border-radius: 50%;
    border: 3px solid white;
}
.dash-intro h4 a {
    color: var(--heading);
    text-transform: capitalize;
}
.dash-intro h5 {
    font-size: 14px;
    line-height: 22px;
    color: gray;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.dash-meta li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3px;
}
.dash-meta li:last-child {
    margin-bottom: 0px;
}
.dash-meta li i {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
    color: var(--primary);
}
.dash-meta li span {
    font-size: 14px;
    line-height: 22px;
}
.dash-focus {
    width: 100%;
    padding: 25px 0px;
    text-align: center;
    margin-right: 20px;
    border-radius: 8px;
    background: url(../../images/bg/01.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.dash-focus::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--primary);
    opacity: 0.8;
    z-index: -1;
}
.dash-focus:last-child {
    margin-right: 0px;
}
.dash-focus h2 {
    color: white;
    font-family: sans-serif;
}
.dash-focus p {
    color: white;
    text-transform: capitalize;
}
.dash-list::before {
    background: #df1313;
}
.dash-book::before {
    background: #00af1e;
}
.dash-rev::before {
    background: #d0a300;
}
.dash-header-alert {
    margin: 0px;
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 3px;
    background: var(--white);
    box-shadow: var(--primary-bshadow);
    border-left: 3px solid var(--primary);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
}
.dash-header-alert button {
    border: none;
    outline: none;
    background: none;
    margin-left: 100px;
}
.dash-header-alert button i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    color: var(--primary);
    background: var(--chalk);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.dash-header-alert button i:hover {
    color: var(--white);
    background: var(--primary);
}
.dash-menu-list {
    margin-top: 30px;
}
.dash-menu-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.dash-menu-list ul li {
    width: 100%}
.dash-menu-list ul li a {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0px;
    color: var(--heading);
    background: var(--white);
    border-bottom: 2px solid var(--white);
}
.dash-menu-list ul li .active {
    color: var(--primary);
    text-shadow: var(--primary-tshadow);
    border-bottom: 2px solid var(--primary);
}
@media (max-width: 991px) {
    .dash-menu-list {
    overflow-x: scroll;
}
.dash-menu-list ul {
    width: 900px;
}
}@media (max-width: 575px) {
    .single-banner {
    padding: 60px 0px 160px;
}
.dash-header-card {
    padding: 20px 20px 0px 20px;
}
.dash-header-left {
    flex-direction: column;
    align-items: flex-start;
}
.dash-avatar {
    margin-right: 0px;
    margin-bottom: 5px;
}
.dash-intro h5 {
    margin-bottom: 12px;
}
.dash-meta {
    margin-bottom: 25px;
}
.dash-header-right {
    flex-direction: column;
}
.dash-focus {
    margin-bottom: 20px;
    margin-right: 0px;
}
.dash-focus:last-child {
    margin-bottom: 0px;
}
.dash-header-alert button {
    margin-left: 0px;
}

}@media (min-width: 576px) and (max-width: 767px) {
    .dash-header-right {
    margin-top: 30px;
}
.dash-focus h2 {
    font-size: 32px;
}
}@media (min-width: 768px) and (max-width: 991px) {
    .single-banner {
    padding: 80px 0px 180px;
}
.dash-header-right {
    margin-top: 30px;
}
}@media (min-width: 992px) and (max-width: 1199px) {
    .dash-avatar {
        margin-right: 25px;
}
}
.dash-avatar a img {
    width: 120px;
}
.post-btn{
    background-color: #444;
    color: #fff;
    width: 170px;
    padding: 8px;
    border-radius: 5px;
}
.post-btn i{
    margin-right: 10px;
}
.modal-content-cus{
   width: 700px;
   margin-left: -100px;
}
.header-user{
    margin-left: -30px !important;
    margin-right: 10px;
}
.header-user span{
    color: #444 !important;
}


/* Profile Sidebar  */
.sidebar-inner-box{
    height: 135px;
    width: 100%;
    padding:0;
    margin:0;
    display:block;
}
.bg-dark{
    background: #343a40 !important;
}
.rounded {
    border-radius: 0.25rem!important;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.profile-avatar{
   
    flex-direction: row;
}
.email{
    font-size: 13px;
    color: #6c757d;
    display:block;
}
.profile-addr{
    font-size: 12px;
    color: #6c757d;
}
.profile-addr i {
    font-size: 16px;
    margin-right: 5px;
}
.follow-btns{
    margin-top: 20px;
}
.follow-btns  .follow{
    border: 1px solid #444;
    border-radius: 6px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.follow-btns .contact{
    border: 1px solid #444;
    border-radius: 6px;
    text-align: center;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}
.follow-btns .follow:hover{
    background: #444;
    color: #fff;
    transition: 0.2s linear;
}
.follow-btns .contact:hover{
    background: #444;
    color: #fff;
    transition: 0.2s linear;
}
.social-icon-box{
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px 20px 20px 30px;
}
.icon-facebook{
    border-radius: 50%;
    background: #ddd;    
    padding: 8px 13px 8px 13px;
    margin-right: 15px;
    cursor: pointer;
}
.icon-facebook:hover{
    background-color: #3b5998;
    color: white;
    transition: 0.2s linear;
}
.icon-facebook i{
    font-size: 15px;
}
.icon-twitter{
    border-radius: 50%;
    background: #ddd;    
    padding: 10px 11px 8px 11px;
    margin-right: 15px;
    cursor: pointer;
}
.icon-twitter:hover{
    background-color: #00acee;
    color: white;
    transition: 0.2s linear;
}
.icon-twitter i{
    font-size: 14px;
}
.icon-insta{
    border-radius: 50%;
    background: #ddd;    
    padding: 9px 11px 9px 12px;
    margin-right: 15px;
    cursor: pointer;
}
.icon-insta:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    color: white;
    transition: 0.2s linear;
}
.icon-insta i{
    font-size: 15px;
}
.icon-linkedin{
    border-radius: 50%;
    background: #ddd;    
    padding: 9px 11px 9px 11px;
    margin-right: 15px;
    cursor: pointer;
}
.icon-linkedin:hover{
    background-color: #0e76a8;
    transition: 0.2s linear;
    color: white;
}
.icon-linkedin i{
    font-size: 15px;
}

.profile-details{
    margin-top: 100px;
    font-size: 15px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
}
.profile-details ul{
    text-align: left;
    /*padding: 20px 0px 20px 20px;*/
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 05px;
}
.profile-details ul li{
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 10px;
}
.profile-details ul li:last-child{
    border-bottom: none;
}
.usr-name{
    padding-left: 20px !important;
    color:#555555;
}
.usr-email{
    padding-left: 20px !important;
    color:#555555;
}
.usr-phone{
    padding-left: 63px;
    color:#555555;
}
.usr-ad{
    padding-left: 45px;
    color:#555555;
}
.usr-follow{
    padding-left:8px;
    color:#555555;
}
.usr-review{
    padding-left: 12px;
    color:#555555;
}
.slide-cus{
    background-color: #f7f7ff;
    width: 160px !important;
    margin-right: 15px;
    padding-top: 20px;
    border-radius: 5px;
    height: 150px;
    border-bottom: 2px solid #444;
}
.slide-cus img{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
}
.cus-slick-img{
    height: 120px;
}
.cus-slick-cat{
    text-align: center;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
}
.slick-prev{
    margin-top: -100px !important;
}
.slide-cus:first-child{
    margin-left: 70px !important;
}
.ngx-gallery-thumbnails-wrapper{
    background-color: black !important;
}
.box-empty{
    text-align: center;
    margin: 0 auto;
    padding: 25px 20px 20px 20px;
}
.ad-details-desc{
    font-size: 15px;
}

/* Invalid Login Box */
.inlogin-box{
    position: absolute;
    margin-top: 100px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e8ebf3;
}
.inlogin-box h3{
    font-size: 19px;
    margin: 20px 0px;
}
.inlogin-box button{
    background-color: #444;
    width: 150px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 10px;
}