body {
    overflow: hidden;
}
.message-part {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    background: var(--chalk);
}
.message-filter {
    padding: 20px;
    border-radius: 8px;
    background: var(--white);
}
.message-filter-group {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-filter-btn i {
    color: var(--gray);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.message-filter-btn i:hover {
    color: var(--primary);
}
.message-filter-src {
    margin-bottom: 20px;
    display: none;
}
.message-filter-src input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--chalk);
    border: 1px solid var(--border);
}
.message-filter-src.active {
    display: block;
}
.message-list {
    height: calc(100vh - 200px);
}
.message-inbox {
    padding: 18px 20px;
    border-radius: 8px;
    background: var(--white);
}
.inbox-header {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inbox-header-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inbox-header-img {
    border-radius: 50%;
    margin-right: 12px;
    border: 2px solid var(--primary);
}
.inbox-header-img img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.inbox-header-img.active::before {
    background: var(--green);
}
.inbox-header-text h5 {
    line-height: 20px;
    text-transform: capitalize;
}
.inbox-header-text h5 a {
    color: var(--heading);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.inbox-header-text h5 a:hover {
    color: var(--primary);
}
.inbox-header-text span {
    font-size: 14px;
    color: var(--gray);
    text-transform: capitalize;
}
.inbox-header-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.inbox-header-list li {
    margin-left: 12px;
}
.inbox-header-list li:first-child {
    margin-left: 0px;
}
.inbox-header-list li a {
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    color: var(--gray);
    background: var(--chalk);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.inbox-header-list li a:hover {
    color: var(--white);
    background: var(--primary);
}
.inbox-chat-list {
    height: calc(100vh - 285px);
}
.inbox-chat-item {
    margin: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inbox-chat-img {
    margin-bottom: 25px;
    align-self: flex-end;
}
.inbox-chat-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.inbox-chat-text {
    margin: 5px 12px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.inbox-chat-text:hover .inbox-chat-action {
    opacity: 1;
}
.inbox-chat-text p {
    font-size: 15px;
    line-height: 22px;
    padding: 8px 12px;
    border-radius: 12px;
    background: var(--chalk);
}
.inbox-chat-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.inbox-chat-action a {
    margin: 0px 6px;
    font-size: 12px;
    color: #aaaaaa;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.inbox-chat-action a:hover {
    color: var(--primary);
}
.inbox-chat-time {
    display: block;
    font-size: 13px;
    margin-left: 25px;
    text-transform: capitalize;
}
.my-chat {
    flex-direction: row-reverse;
}
.my-chat .inbox-chat-text {
    flex-direction: row-reverse;
}
.my-chat .inbox-chat-text p {
    color: var(--white);
    background: var(--primary);
}
.my-chat .inbox-chat-action {
    margin: 0px 14px 0px 0px;
}
.my-chat .inbox-chat-time {
    text-align: right;
    margin: 0px 25px 0px 0px;
}
.inbox-chat-form {
    position: relative;
}
.inbox-chat-form button {
    position: absolute;
    top: 8px;
    right: 8px;
}
.inbox-chat-form button i {
    width: 46px;
    height: 46px;
    font-size: 15px;
    line-height: 46px;
    border-radius: 6px;
    text-align: center;
    color: var(--white);
    background: var(--primary);
}
@media (max-width: 991px) {
    body {
        overflow-y: scroll;
        background: var(--chalk);
    }
    .message-list {
        height: 350px;
        margin-bottom: 30px;
    }
    .inbox-chat-list {
        height: 350px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .message-list {
        height: calc(100vh - 255px);
    }
    .inbox-chat-list {
        height: calc(100vh - 333px);
    }
}
