.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.lrr {
    padding-bottom: 30px;
}
.modal {
    text-align: center;
    padding: 0!important;
    background: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1px);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-content {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    padding: 15px 30px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal-content input, textarea {
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #f1f1f1 !important;
    border-radius: 0;
    padding: 0;
    line-height: 20px;
    margin-bottom: 30px;
    background: none;
}
.modal-content input::placeholder{
    font-size: 12px !important;
    color: #ddd;
}
.modal-content input:focus{
    background-clip: padding-box;
    border: none;
    border-bottom: 2px solid #444 !important;
    border-radius: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
    background: none;
}
.modal-header {
    padding: 15px 0;
    margin-bottom: 30px;
    border: none;
}
.modal-header {
    padding: 15px;
}
.modal-header a {
    position: absolute;
    color: #ddd;
    font-size: 25px;
    right: 30px;
    top: 29px;
    line-height: 1;
}
.modal-header a .fa {
    font-weight: 600;
}
.modal-body label {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    color: #4b586b;
}
.modal-body .form-group {
    margin-bottom: 25px;
}
.toggle-password:focus, .toggle-password:hover, .toggle-password:active, .toggle-password {
    position: absolute;
    bottom: 45px;
    right: 10px;
    color: #ccc;
    font-size: 15px;
}
.lrr .submit-ajax-form {
    display: block;
    line-height: 50px;
    font-size: 13px;
    border-radius: 2px;
}
.modal .af-button {
    font-size: 13px;
}
.modal .af-button:hover{
    color: white !important;
}
.af-button, input[type="submit"], .af-button:focus, .af-button:active, .pagination > span:not(.dots), .pagination a.current, .comment-avatar .icon-user, .single-price, .single-price .price, .single-price .price span:not(.price-symbol):not(.text-price), .kc-search .af-button, .kc-search .af-button:hover, .kc-search .af-button:focus, .kc-search .af-button:active, body .kc_tabs_nav > .ui-tabs-active > a, body .kc_tabs_nav > .ui-tabs-active > a:hover, body .kc_tabs_nav > .ui-tabs-active > a, body .kc_tabs_nav > li > a:hover, .message-actions a:not(.disabled):hover, .af-interactive-slider a:hover, .status.live, body .elementor-widget-tabs .elementor-tab-title:hover, body .elementor-widget-tabs .elementor-tab-title.elementor-active {
    color: #ffffff;
}
.af-button, input[type="submit"], .af-button:focus, .af-button:active, .filter-slider.ui-slider .ui-slider-range, .comment-avatar .icon-user, .author-address, .single-price, .kc-search .af-button, .kc-search .af-button:hover, .kc-search .af-button:focus, .kc-search .af-button:active, body .kc_tabs_nav > .ui-tabs-active > a, body .kc_tabs_nav > .ui-tabs-active > a:hover, body .kc_tabs_nav > .ui-tabs-active > a, body .kc_tabs_nav > li > a:hover, .message-actions a:not(.disabled):hover, .profile-advert .action a:nth-child(1):hover i, .profile-advert .action a:nth-child(4) i, body .elementor-widget-tabs .elementor-tab-title:hover, body .elementor-widget-tabs .elementor-tab-title.elementor-active {
    background: #444;
}
.af-button, input[type=submit], .af-button:focus, .af-button:active {
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    padding: 0 15px;
    line-height: 36px;
    background: #444;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.register-acc, .forgot {
    font-size: 12px;
    margin-top: 5px;
}
input[type="submit"], a, a:active, a:focus {
    color: #666666;
}
input[type=submit], a, a:active, a:focus {
    color: #333;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.or-divider {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.or-divider:before {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    border-bottom: 1px solid #eee;
}
.or-divider h6 {
    background: #fff;
    padding: 0 10px;
    color: #444;
    position: relative;
    z-index: 1;
    font-size: 12px;
    display: inline-block;
}
.social-login {
    margin: 0;
    margin-bottom: 30px;
    margin-right: -15px;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.social-login li {
    width: calc(33.333% - 15px);
    margin-right: 15px;
}
.list-inline>li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
ol>li, ul>li {
    padding: 5px 0;
}
.social-login li .facebook {
    background: #1778f2;
}
.social-login li a, .social-login li a:focus, .social-login li a:active {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
}
.facebook {
    background: #899dce;
}
.facebook img{
    height: 25px !important;
    margin: 6px 10px;
}
.twitter img {
    height: 18px !important;
    margin: 9px 10px;
}
.social-login li img {
    height: 35px;
    width: auto;
    margin-right: 10px;
}
.social-login li .twitter {
    background: #1da1f3;
}
.social-login li a, .social-login li a:focus, .social-login li a:active {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
}
.twitter {
    background: #60d2f5;
}
.social-login li .google {
    font-family: Roboto;
    font-weight: 500;
}
.social-login li .google {
    background: #4285f4;
}
.social-login li a, .social-login li a:focus, .social-login li a:active {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    overflow: hidden;
}
.google {
    background: #db4935;
}
.social-login li img {
    height: 35px;
    width: auto;
    margin-right: 10px;
}
.social-login li .google span {
    margin-top: 2px;
}
.social-login li .google {
    font-family: Roboto;
    font-weight: 500;
}
.register-acc, .forgot {
    font-size: 12px;
    margin-top: 5px;
}
.register-acc:hover{
    color: #444;
}