.dash-header-card {
    box-shadow: var(--primary-bshadow);
}
.myads-part {
    padding: 50px 0px 70px;
}
@media (max-width: 767px) {
    .myads-part {
        padding: 50px 0px 30px;
    }
    .product-filter {
        flex-direction: column;
    }
    .product-short-select {
        margin: 15px 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .myads-part {
        padding: 50px 0px 50px;
    }
}
