
body{overflow:hidden}.notify-part{width:100%;height:100vh;padding-top:30px;background:var(--chalk)}.notify-body{padding:20px;background:var(--white);border-radius:8px 8px 0px 0px}.notify-filter{padding-bottom:20px;display:flex;align-items:center;justify-content:space-between}.notify-action a{width:38px;height:38px;font-size:14px;line-height:38px;border-radius:50%;margin-left:12px;text-align:center;color:var(--gray);background:var(--chalk);transition:all linear .3s;-webkit-transition:all linear .3s;-moz-transition:all linear .3s;-ms-transition:all linear .3s;-o-transition:all linear .3s}.notify-action a:first-child{margin-left:0px}.notify-action a:hover{color:var(--white);background:var(--primary)}.notify-scroll{height:calc(100vh - 210px)}@media (max-width: 575px){.notify-filter{flex-direction:column;justify-content:center}.notify-select{margin-bottom:15px}}
