@font-face{
    font-family:'Muli-Light';
    src:url('../fonts/muli/Muli-Light.ttf');
}
@font-face{
    font-family:'Muli-Regular';
    src:url('../fonts/muli/Muli-Regular.ttf');
}
@font-face{
    font-family:'Muli-Semi-Bold';
    src:url('../fonts/muli/Muli-SemiBold.ttf');
}
@font-face{
    font-family:'Muli-Bold';
    src:url('../fonts/muli/Muli-Bold.ttf');
}
@font-face{
    font-family:'Muli-Extra-Bold';
    src:url('../fonts/muli/Muli-ExtraBold.ttf');
}
@font-face{
    font-family:'Nunito-Bold';
    src:url('../fonts/Nunito/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Extra-Bold';
    src: url('../fonts/Nunito/Nunito-ExtraBold.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding:0;
    margin:0;
}
.header-top{
    /*background-color:#2d343d;*/
    background-color: #ff6f00 !important;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */
.header {
    position: relative;
    z-index: +999;
    margin-top: -40px;
    
}
.header-light nav.headnavbar {
    background: #ffffff;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    -webkit-box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
}
.nav-left-side .core-nav {
    display: inline-block;
    width: 100%;
}
.core-nav {
}
.core-nav {
    display: block;
    position: relative;
}
.headnavbar, .menu-box, .core-nav .dropdown > .dropdown-menu, .mobile-menu .menu-backdrop {
    border: none!important;
}
nav {
    min-height: 70px;
}
.border{
    border-bottom: 5px solid #eee;
    margin-top: -10px;
}
.right{
    float: right;

}
.left{
    float: left;
}

nav ul li{
    padding: 15px 35px 10px 10px;
    display: inline-block;
}
nav ul li .add-post{
    /*border: 2px solid #ff6f00;
    color:#ff6f00;*/
    border: 2px solid #2d343d;
    color: #2d343d;
    border-radius: 4px;
    line-height: 40px;
    height: 46px;
    background: transparent;
    font-size: 16px;
    padding: 12px 25px 10px 25px;
    font-family:'Muli-Semi-Bold';
}
nav ul li .add-post span{
    padding-right: 10px;
    font-weight: 400 !important;
    margin-top: 0px;
}
nav ul li .brand img{
    width: 200px;
    height: auto;
    margin-left: 30px;
    margin-top: 06px;
}
 .add-post-btn{
     background-color: #ff6f00;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff !important;
    text-align: center;
    padding: 12px 29px;
    border-radius: 30px;    
    z-index: 1;
    transition: all 500ms ease;
    box-shadow: 0px 03px 30px 0px rgb(0 0.2 0 / 40%);
}
.add-post-btn span{
    padding-right: 10px;
    font-weight: 400 !important;
}

/* Search Area */
.main-search-custom{
    background: rgba(0, 0, 0, 0) url(../images/banner-7.jpeg) no-repeat scroll center center / cover;
    height: 330px;
    margin-top: -30px;
}
.parallex-custom {
    color: #fff !important;
    position: relative;
    z-index: 44;
}
.parallex-custom::before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.main-search-custom .main-search-title {
    padding-top: 105px;
}
.main-search-custom .main-search-title h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Muli-Bold;
}
.main-search-custom p {
    color: #fff;
    z-index: 55;
    position: relative;
}
.search-section {
    height: auto;
    outline: medium none;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 5;
}
#form-panel {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 24px 25px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.select-category{
    width: 260px;
    display:inline-block;
}

.search-product input{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: none;
    color: #555;
    font-size: 14px;
    height: auto;
    padding: 11px 12px 10px 12px;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
    width: 360px;    
}
.select-product{
    width: 260px;
}
.search-options > li .btn.btn-danger {
    /*background-color: #ff6f00;
    border-color: #ff6f00;*/
    background-color: #2d343d;
    border-color: #2d343d;
}
.search-options > li .btn {
    border-radius: 0 2px 2px 0;
    height: 50px;
    width: 210px;
}
.btn-lg {
    padding: 12px 22px;
    letter-spacing: 1.3px;
}

/* Categories Section */
.wrapper {
    padding: 60px 0;
}
.border-1 {
    /*border-bottom: 2px solid #3498db;*/
    border-bottom:  2px solid #2d343d;
}
.category-box {
    background-color: #fff;
    margin: 30px 0;
    height: 280px;
    box-shadow: 1px 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 0;
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.fadeInUpQuick {
    -webkit-animation-name: fadeInUpQuick;
    animation-name: fadeInUpQuick;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.category-box .icon {
    text-align: center;
    position: absolute;
    top: -25px;
    margin: 0 auto;
    width: 100%;
}
.category-box .icon i {
    display: inline-block;
    font-size: 22px;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 48px;
    box-shadow: 3px 6px 6px rgb(0 0 0 / 25%);
}
.color-1 {
    /*background-color: #3498db !important;*/
    background-color: #2d343d;
}
.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lnr-users:before {
    content: "\e82b";
}
.category-box .category-header {
    width: 100%;
    background-color: #f8f8f8;
    display: inline-block;
    text-align: center;
    padding: 40px 15px 20px;
    border-bottom: 1px solid #EEE;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.category-box .category-header h4 {
    font-size: 18px;
    color: #444;
    font-family: Muli-Extra-Bold;
}
.category-box .category-content li {
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
    width: 100%;
}
.category-box .category-counter {
    margin-right: 15px;
}
.category-counter {
    font-size: 12px;
    color: #888;
    float: right;
}
.category-box .category-content li a {
    float: left;
    color: #888;
    margin-left: 15px;
}
.border-2 {
    /*border-bottom: 2px solid #FF5353;*/
    border-bottom: 2px solid #2d343d;
}
.color-2 {
    /*background-color: #FF5353 !important;*/
    background-color: #2d343d;
}
.lnr-laptop-phone:before {
    content: "\e83d";
}
.color-3 {
    /*background-color: #1DD2AF !important;*/
    background-color: #2d343d;
}
.lnr-cog:before {
    content: "\e810";
}
.border-3 {
    /*border-bottom: 2px solid #1DD2AF;*/
    border-bottom: 2px solid #2d343d;
}
.border-4 {
    /*border-bottom: 2px solid #FE4080;*/
    border-bottom: 2px solid #2d343d;
}
.color-4 {
    /*background-color: #FE4080 !important;*/
    background-color: #2d343d;
}
.lnr-cart:before {
    content: "\e82e";
}
.color-5 {
    /*background-color: #24A69A !important;*/
    background-color: #2d343d;
}
.border-5 {
    /*border-bottom: 2px solid #24A69A;*/
    border-bottom: 2px solid #2d343d;
}
.lnr-briefcase:before {
    content: "\e84c";
}
.color-6 {
    /*background-color: #8E4162 !important;*/
    background-color: #2d343d;
}
.border-6 {
    /*border-bottom: 2px solid #8E4162;*/
    border-bottom: 2px solid #2d343d;
}
.lnr-graduation-hat:before {
    content: "\e821";
}
.color-7 {
    /*background-color: #9A63C1 !important;*/
    background-color: #2d343d;
}
.lnr-apartment:before {
    content: "\e801";
}
.border-7 {
    /*border-bottom: 2px solid #9A63C1;*/
    border-bottom: 2px solid #2d343d;
}
.color-8 {
   /* background-color: #512DA7 !important;*/
   background-color: #2d343d;
}
.border-8 {
    /*border-bottom: 2px solid #512DA7;*/
    border-bottom: 2px solid #2d343d;
}

.lnr-car:before {
    content: "\e84e";
}
.category-header:hover{
    background-color: #2d343d;
    cursor: pointer;
}
.category-header:hover a h4{
    color: white;
}

/* Content Section */
.product-card{
    padding: 60px 0;
    position: relative;
}
.card-item{
    margin-right: 10px;
}
.feat_property {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.feat_property .thumb {
    background-color: #1d293e;
    border-radius: 8px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    overflow: hidden;
    margin: 10px 10px 0 10px;
    position: relative;
}
.feat_property .thumb img {
    opacity: .6;
    object-fit: cover;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.mb0 {
    margin-bottom: 0px !important;
}
.feat_property .thumb .thmb_cntnt, .properti_city.home6 .thumb .thmb_cntnt {
    bottom: 0;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.feat_property .thumb .thmb_cntnt ul.tag, .properti_city.home6 .thumb .thmb_cntnt ul.tag {
    position: absolute;
    left: 12px;
    top: 10px;
}
.feat_property .thumb .thmb_cntnt ul.tag li:first-child, .feat_property.home8 ul.tag li:first-child, .properti_city.home6 .thumb .thmb_cntnt ul.tag li:first-child, .feat_property.list .dtls_headr ul.tag li:first-child {
    background-color: rgb(62, 76, 102);
}
.feat_property .thumb .thmb_cntnt ul.tag li, .feat_property.home8 ul.tag li, .properti_city.home6 .thumb .thmb_cntnt ul.tag li, .feat_property.list .dtls_headr ul.tag li {
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 75px;
}
.feat_property .thumb .thmb_cntnt ul.tag li:last-child, .feat_property.home8 ul.tag li:last-child, .properti_city.home6 .thumb .thmb_cntnt ul.tag li:last-child, .feat_property.list .dtls_headr ul.tag li:last-child {
    /*background-color: #ff5a5f;*/
    /*background-color: rgb(62, 76, 102);*/
    background-color: rgb(15, 21, 31);
    opacity: 0.7;
    margin-right: 0;
}
.feat_property .thumb .thmb_cntnt ul.tag li a, .properti_city.home6 .thumb .thmb_cntnt ul.tag li a, .feat_property.home8 ul.tag li a, .feat_property.list ul.tag li a {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    line-height: 1.2;
}
.feat_property .thumb .thmb_cntnt .icon {
    bottom: 15px;
    position: absolute;
    right: 10px;
}
.feat_property .thumb .thmb_cntnt .icon li {
    border-radius: 8px;
    background-color: rgb(15, 21, 31);
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    opacity: 0.502;
    text-align: center;
    width: 35px;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
.feat_property .thumb .thmb_cntnt .icon li a {
    color: #ffffff;
}
.flaticon-transfer-1:before {
    /*content: "\f129";*/
    content: "\e813";
}
.feat_property .thumb .thmb_cntnt .icon li:last-child, .feat_property.home8 .icon li:last-child {
    margin-right: 0;
}
.flaticon-heart:before {
    content: "\f118";
}

.feat_property .thumb .thmb_cntnt a.fp_price {
    bottom: 15px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-weight: bold;
    left: 20px;
    line-height: 1.2;
    position: absolute;
}
.feat_property .details {
    position: relative;
}
.feat_property .details .tc_content {
    padding: 20px;
}
.feat_property .details .tc_content p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #484848;
    line-height: 1.2;
}
.text-thm {
    color: #ff5a5f !important;
}
.feat_property .details .tc_content h4 {
    font-size: 18px;
    font-family: Nunito-Bold;
    color: #484848;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 10px;
    margin-bottom: 25px;
    height: 40px;
}
.feat_property .details .tc_content p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #484848;
    line-height: 1.2;
}
.feat_property .details .tc_content p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #484848;
    line-height: 1.2;
}
.feat_property .details .tc_content .prop_details {
    margin-bottom: 0;
}
p, ul, ol, dl, dt, dd, blockquote, address {
    margin: 0 0 10px;
}
.feat_property .details .tc_content .prop_details li {
    margin-right: 30px;
}
.feat_property .details .tc_content .prop_details li a {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #484848;
    line-height: 1.2;
}
.feat_property .details .fp_footer {
    border-top: 1px solid #eeeeee;
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
}
.feat_property .details .fp_footer .fp_meta {
    margin-bottom: 0;
}
.feat_property .details .fp_footer .fp_meta li {
    margin-right: 10px;
    vertical-align: middle;
}
.feat_property .details .fp_footer .fp_meta li a {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #777777;
    line-height: 1.2;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.feat_property .details .fp_footer .fp_meta li:nth-child(2) {
    margin-right: 10px;
}
.feat_property .details .fp_footer .fp_meta li:last-child {
    margin-right: 0;
}
.feat_property .details .fp_footer .fp_meta li {
    margin-right: 10px;
    vertical-align: middle;
}
.fp_pdate {
    font-size: 14px;
    font-family: "Nunito";
    color: #777777;
    line-height: 1.2;
    margin-top: 12px;
}
.float-right {
    float: right!important;
    margin-top:-27px;
}
.usr-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.thumb img{
    height: 210px;
}
.thumb .img-whp{
    width: 100%;
}

/* Banner Section */
.banner-section.style-two {
    padding: 225px 0px 0px 0px;
}
.banner-section {
    position: relative;
    padding: 167px 0px 173px 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -30px;
    height: 600px;
}
.centred {
    text-align: center;
}
.banner-section:before {
    position: absolute;
    content: '';
    background: #0c162c !important;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    opacity: 0.6;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.banner-section .content-box {
    position: relative;
    margin-right: 10px;
}
.banner-section .content-box h1 {
    position: relative;
    display: block;
    font-size: 55px;
    line-height: 60px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 12px;
    font-family:'Nunito-Bold';
}
.banner-section .content-box p {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 43px;
    font-weight: 600;
}
.banner-section .inner-box {
    position: relative;
    display: block;
    background: #fff;
    /*background-image: linear-gradient(315deg, #efecec 0%, #f9aba4 74%);*/
    padding: 18px 35px 25px 35px;
    margin-top: -100px;
    width: 350px;
}
.banner-section .inner-box .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-section .inner-box h3 {
    display: block;
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    margin-bottom: 27px;
    font-family: Nunito-Extra-Bold;
    color: #061a3a;
}
.banner-section .inner-box form .form-group {
    position: relative;
    margin-bottom: 20px;
    min-height: 50px;
}
.banner-section .inner-box form .form-group i {
    position: absolute;
    left: 30px;
    top: 15px;
    z-index: 1;
    font-size: 18px;
}
.banner-section .inner-box form .form-group input[type='search'], .banner-section .inner-box form .form-group .nice-select {
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 30px;
    font-size: 15px;
    color: #848484;
    font-weight: 500;
    padding: 10px 30px 10px 58px;
}
.banner-section .inner-box form .form-group .nice-select {
    padding: 5px 30px 5px 58px;
}
.banner-section .inner-box form .form-group input[type='search'], .banner-section .inner-box form .form-group .nice-select {
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 30px;
    font-size: 15px;
    color: #848484;
    font-weight: 500;
    padding: 10px 30px 10px 58px;
    font-family: Muli-Light;
    border: 2px solid #222;
}
.nice-select:focus{
    outline: 2px solid #ff6f00;
}
.nice-select.wide {
    width: 100%;
}
.banner-section .inner-box form .form-group .nice-select {
    padding: 5px 30px 5px 58px;
}
.nice-select {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border: none !important;
    background: transparent;
    font-size: 15px;
    color: #848484;
    font-weight: 500;
    padding: 4px 55px;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}
.nice-select .list {
    min-width: 200px;
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}
.banner-section .inner-box form .form-group button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 13px 30px 13px 65px;
}
.theme-btn-one {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #fff !important;
    text-align: center;
    padding: 12px 29px;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 0px rgb(248 92 112 / 40%);
    z-index: 1;
    transition: all 500ms ease;
    border:none;
}
.theme-btn-one {
    background-color: #ff6f00;
}
.wide-select{
    border-radius: 30px;
    width: 100%;
    height: 50px;
    border: none;
    border: 2px solid #222;
    padding-left: 55px;
    font-family: Muli-Light;
    font-size: 15px;
    color: #666;
    padding-right: 30px !important;
}
.wide-select:focus{
    outline: 2px solid #ff6f00;
    border:none;
}
/* Theme2 Category */

.category-style-two {
    position: relative;
    padding: 30px 0px 90px 0px;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.sec-title.centred {
    text-align: center !important;
}
.sec-title {
    position: relative;
    display: block;
    margin-bottom: 50px;    
}
.sec-title span {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.sec-title span {
    color: #f85c70;
}
.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 21px;
}
.sec-title p {
    font-size: 15px;
    line-height: 26px;
    margin: 0px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.category-block-two .inner-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
    margin-bottom: 30px;
}
.category-block-two .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}
.category-block-two .inner-box .image-box {
    background-color: #7360ff;
}
figure {
    margin: 0px;
}
.category-block-two .inner-box .image-box img {
    width: 100%;
    transform: scale(1.05);
    transition: all 500ms ease;
}
.category-block-two .inner-box .lower-content {
    position: relative;
    padding: 26px 30px;
}
.category-block-two .inner-box .lower-content span {
    position: absolute;
    top: -23px;
    right: 30px;
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgb(255 140 0 / 35%);
}
.category-block-two .inner-box .lower-content span {
    background-color: #ff6f00;
}
.category-block-two .inner-box .lower-content .icon-box {
    position: absolute;
    left: 10px;
    bottom: 15px;
    color: #e4e4e7;
    font-size: 50px;
    line-height: 50px;
    top: -8px;
}
.category-block-two .inner-box .lower-content h4 {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    z-index:999999999;
    margin-left: 30px;
    font-family: Nunito-Bold;
}
.category-block-two .inner-box .lower-content h4 a {
    display: inline-block;
    color: #061a3a;
}

/* Post Article */
.feature-style-two {
    position: relative;
    padding: 50px 0px 90px 0px;
}
.feature-style-two .sec-title {
    margin-bottom: 32px;
}
.sec-title.centred {
    text-align: center !important;
}
.sec-title {
    position: relative;
    display: block;
    margin-bottom: 50px;
}
.sec-title span {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.sec-title span {
    color: #ff6f00;
}
.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 21px;
    font-family: Nunito-Bold;
    color: #061a3a;
}
.tabs-box .tab-btn-box .tab-btns {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
}
.tabs-box .tab-btn-box .tab-btns:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 40px;
    width: 80px;
    content: "";
    border-radius: 30px;
    background-color: #ffebed;
    border: 1px solid #f7c6cc;
}
.tabs-box .tab-btn-box .tab-btns li.active-btn {
}
.tabs-box .tab-btn-box .tab-btns li.active-btn {
    color: #f85c70;
}
.tabs-box .tab-btn-box .tab-btns li {
    position: relative;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding: 0px 70px 0px 0px;
    line-height: 40px;
    font-weight: 800;
    color: #061a3a;
    cursor: pointer;
    transition: all 500ms ease;
}
.tabs-box .tab-btn-box .tab-btns li.active-btn:before {
    right: 0px;
}
.tabs-box .tab-btn-box .tab-btns li:before {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    content: "";
    right: -41px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.tabs-box .tab-btn-box .tab-btns li:before {
    background-color: #f85c70;
}
.tabs-box .tab-btn-box .tab-btns li:last-child {
    padding-right: 0;
    padding-left: 70px;
    text-align: left;
}
.tabs-box .tab-btn-box .tab-btns li {
    position: relative;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding: 0px 70px 0px 0px;
    line-height: 40px;
    font-weight: 800;
    color: #061a3a;
    cursor: pointer;
    transition: all 500ms ease;
}
.tabs-box .tab.active-tab {
    transform: scale(1) translateY(0px);
}
.tabs-box .tab.active-tab {
    display: block;
}
.tabs-box .tab {
    transform: scale(0.9,0.9) translateY(0px);
}
.tabs-box .tab {
    position: relative;
    display: none;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.feature-block-one .inner-box {
    position: relative;
    display: block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}
.feature-block-one .inner-box .image-box {
    position: relative;
    display: block;
}
.feature-block-one .inner-box .image-box .image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    height: 220px;
}
.feature-block-one .inner-box .image-box .shape {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0px;
    right: 0px;
}
.feature-block-one .inner-box .image-box .shape:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 7px;
    left: 25px;
    top: -7px;
}
.feature-block-one .inner-box .image-box .shape:before {
    background-color: #1b8a4b;
}
.feature-block-one .inner-box .image-box .shape:after {
    position: absolute;
    content: '';
    right: -6px;
    bottom: 26px;
    width: 7px;
    height: 8px;
}
.feature-block-one .inner-box .image-box .shape:after {
    background-color: #1b8a4b;
}
.feature-block-one .inner-box .image-box .feature {
    position: absolute;
    top: 16px;
    right: -36px;
    padding: 3px 35px;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(
45deg);
    z-index: 1;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%, 20% 0%);
}
.feature-block-one .inner-box .image-box .feature {
    background-color: #ff6f00;
}
.feature-block-one .inner-box .image-box .icon {
    position: absolute;
    left: 30px;
    top: -7px;
    width: 30px;
    height: 40px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    z-index: 1;
}
.feature-block-one .inner-box .image-box .icon {
    background-color: #f85c70;
}
.feature-block-one .inner-box .image-box .icon:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 5px;
    left: 0px;
    bottom: -4px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
    border-bottom-left-radius: 10px;
}
.feature-block-one .inner-box .image-box .icon:before {
    background-color: #f85c70;
}
.feature-block-one .inner-box .image-box .icon .icon-shape {
    position: absolute;
    top: 0px;
    right: -8px;
    width: 8px;
    height: 7px;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%, 0% 0%);
}
.feature-block-one .inner-box .image-box .icon .icon-shape {
    background-color: #e42828;
}
.feature-block-one .inner-box .image-box .icon:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 5px;
    right: 0px;
    bottom: -4px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 0%);
    border-bottom-right-radius: 10px;
}
.feature-block-one .inner-box .image-box .icon:after {
    background-color: #f85c70;
}
.feature-style-two .feature-block-one .inner-box .lower-content {
    padding-bottom: 17px;
}
@media only screen and (max-width: 1200px){
.feature-block-one .inner-box .lower-content {
    padding-left: 20px;
    padding-right: 20px;
}}
.feature-block-one .inner-box .lower-content {
    position: relative;
    display: block;
    padding: 0px 30px 32px 30px;
}
.feature-block-one .inner-box .lower-content .author-box {
    position: relative;
    background: #fff;
    padding: 22px 15px;
    border-radius: 10px;
    margin-top: -35px;
    box-shadow: 0px 10px 50px 0px rgb(0 0 0 / 10%);
    z-index: 1;
    margin-bottom: 30px;
}
.feature-block-one .inner-box .lower-content .author-box .inner {
    position: relative;
    padding-left: 52px;
}
.feature-block-one .inner-box .lower-content .author-box .inner img {
    position: absolute;
    left: 0px;
    top: -7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.feature-block-one .inner-box .lower-content .author-box .inner h6 {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    padding-right: 26px;
    font-family:'Muli-Bold';
    color: #061a3a;
}
.feature-block-one .inner-box .lower-content .author-box .inner h6 i {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 8px;
    color: #fff;
    border-radius: 50%;
}
.feature-block-one .inner-box .lower-content .author-box .inner h6 i {
    background-color: #2dbe6c;
}
.feature-block-one .inner-box .lower-content .author-box .inner span {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 15px;
    border-radius: 25px;
}
.feature-block-one .inner-box .lower-content .author-box .inner span {
    background-color: #ff6f00;
}
.feature-block-one .inner-box .lower-content .category {
    position: relative;
    padding-left: 25px;
    margin-bottom: 1px;
}
.feature-block-one .inner-box .lower-content .category i {
    position: absolute;
    left: 0px;
    top: 8px;
    font-size: 12px;
}
.feature-block-one .inner-box .lower-content .category i {
    color: #ff6f00;
}
.feature-block-one .inner-box .lower-content .category {
    position: relative;
    padding-left: 25px;
    margin-bottom: 1px;
}
.feature-block-one .inner-box .lower-content h3 {
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: 800;
}
.feature-block-one .inner-box .lower-content h3 a {
    display: inline-block;
    color: #061a3a;
    font-family: Nunito-Bold;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.feature-block-one .inner-box .lower-content .rating {
    position: relative;
    margin-top: 2px;
    margin-bottom: 17px;
}
.feature-block-one .inner-box .lower-content .rating li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
}
.feature-block-one .inner-box .lower-content .rating li {
    color: #ffab01;
}
.feature-block-one .inner-box .lower-content .rating li a {
    display: inline-block;
    font-size: 15px;
    color: #808080;
    margin-left: 5px;
}
.feature-block-one .inner-box .lower-content .info {
    position: relative;
    margin-bottom: 24px;
}
.feature-block-one .inner-box .lower-content .info li {
    position: relative;
    display: block;
    font-size: 15px;
    color: #808080;
    padding-left: 25px;
    margin-bottom: 4px;
}
.feature-block-one .inner-box .lower-content .info li i {
    position: absolute;
    left: 0px;
    top: 5px;
    color: #c7c7c7;
}
.far {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}
.feature-block-one .inner-box .lower-content .lower-box {
    position: relative;
    display: block;
    padding-top: 13px;
}
.feature-block-one .inner-box .lower-content .lower-box:before {
    position: absolute;
    content: '';
    background: #edeff2;
    width: calc(100% + 60px);
    height: 1px;
    left: -30px;
    top: 0px;
}
.feature-block-one .inner-box .lower-content .lower-box h5 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
}
.feature-block-one .inner-box .lower-content .lower-box h5 {
    color: #ff6f00;
    font-family: Muli-Light;
}
.feature-block-one .inner-box .lower-content .lower-box h5 span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #808080;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-right: 8px;
    top: -2px;
}
.feature-block-one .inner-box .lower-content .lower-box .react-box {
    position: absolute;
    top: 15px;
    right: 0px;
}
.feature-block-one .inner-box .lower-content .lower-box .react-box li {
    position: relative;
    display: inline-block;
    margin-right: 28px;
}
.feature-block-one .inner-box .lower-content .lower-box .react-box li:before {
    position: absolute;
    content: '';
    background: #e5e7ec;
    width: 1px;
    height: 22px;
    top: 2px;
    right: -17px;
}
.feature-block-one .inner-box .lower-content .lower-box .react-box li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #989aa3;
}