<app-header></app-header>
<aside class="sidebar-part">
    <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
        <app-profile></app-profile>
    </div>
 </aside>
<div class="allButFooter">
    <section class="user-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="user-profile-sidebox">
                        <div class="user-profile-sidebox-content">
                            <img *ngIf="initial==false" src="{{photoUrl}}" alt="user-profile-img">
                            <a  *ngIf="initial==true" class="rounded img-thumbnail" style="background: cornflowerblue;color: white;font-size: 49px;padding-top: 48px;font-weight: bold;">{{photoUrl}}</a>
                            <h4>{{name}}</h4>
                            <span>{{email}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="user-profile-mainbox">
                        <div class="user-profile-mainbox-header">
                            <h4>Edit Profile    </h4>
                        </div>
                        <div class="user-profile-mainbox-content">
                            <form [formGroup]="loginForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-content">
                                            <label>Name</label>
                                            <input type="text" formControlName="name" >
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-content">
                                            <label>Email</label>
                                            <i class="fa fa-check-circle" style="font-size:15px;color:green;padding-left:7px">verified</i>
                                            <input type="email" formControlName="email" readonly>
                                          
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-content">
                                            <label>Age</label>
                                            <input type="number" formControlName="age" placeholder="Age" style="color: #555; font-family: 'Geometrica-Medium';">
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-content">
                                            <label>Gender</label>
                                            <select formControlName="gender">
                                                <option>Gender</option>
                                                <option>Male</option>
                                                <option>Female  </option>
                                            </select>
                                        </div>                                        
                                    </div>
                                                                   
                                    <div class="col-md-6">
                                        <div class="form-content">
                                            <label>Phone Number</label>
                                            <i *ngIf="isVerified" class="fa fa-check-circle" style="font-size:15px;color:green;padding-left:7px">verified</i>
                                          
                                            <!--<input *ngIf="isVerified" class="phone-num" type="number" formControlName="phone_number" placeholder="Phone Number" onKeyPress="if(this.value.length==10) return false;" required readonly>-->
                                            <input  class="phone-num" type="number" formControlName="phone_number" placeholder="Phone Number" onKeyPress="if(this.value.length==10) return false;" required>
                                            <div class="code-num">+91</div>
                                             <p style="display:none" id="validate">Mobile Number is required</p>
                                        </div>                                        
                                    </div>
                                    <br>
                                   <p style="display:none" id="alert">Changes Saved..</p>
                                   
                                    <div class="m-3" id="recaptcha-container"></div>
                                </div>
                            </form>                            
                        </div>
                        <div class="user-profile-mainbox-footer">
                            <button  (click)="editUser()">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- OTP Container-->
     <div class="otp-container" id="otp-box" style="display:none">
        <div class="otp-box">
            <div class="otp-box-header">
                <h4>Enter the OTP to Verify Mobile Number </h4>
                <span class="close-otp-box" id="close-otp-box">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="otpClose()" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </span>
            </div>
            <div class="otp-box-content">
                <div class="otp-box-input">
                    <code-input [isCodeHidden]="false" 
                    [codeLength]="6"
                    (codeChanged)="onCodeChanged($event)" 
                    (codeCompleted)="onCodeCompleted($event)"> 
                    </code-input>
                   </div>
                <button (click)="verifyLoginCode()">Validate OTP</button>
                <a (click)="sendLoginCode()" style="cursor:pointer">Resend OTP</a>
            </div>
        </div>
    </div>
    <!-- End of OTP Container-->
</div>
<app-footer></app-footer>