<app-header></app-header>
<aside class="sidebar-part">
    <div class="sidebar-body" style="background-color: #f2f2f4; display: block;">
        <app-profile></app-profile>
    </div>
</aside>

<section class="offer-seller-section">
    <div class="container">
        <div class="offer-seller-header">
            <h2>{{title}}</h2>
        </div>
        <div class="row">
            
            
            <div class="col-md-4" *ngFor="let ads of viewOffers  ">
                <div class="offer-seller-card" *ngFor="let user of ads.getList">
                    <!--<div class="offer-seller-icon">
                        <img  src={{user.photoUrl}} alt="profile-img">
                        
                    </div>-->
                    <div class="offer-seller-initial">
                        <a href="#">P</a>
                    </div>
                    
                    <div class="offer-seller-content">
                        <h4><a href="#">{{ads.name}}</a></h4>
                        <!--<span class="email">mthaha@upspring.it</span>-->
                        <span class="location"><i class="fa fa-map-marker"></i>{{ads.location}}</span>
                        <ul class="offer-seller-rating">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <span class="amount">₹ {{ads.offerAmount}}</span>
                        <button (click)="openOffer(ads.email,ads.offerAmount,ads.name)">Send Offer</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



<div class="send-offer-container" id="send-offer">
    <div class="send-offer-card animate__animated bounceInDown">
        <div class="send-offer-card-header">
            <h4>Send Offer</h4>
            <span class="close-offer">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="closeOffer()" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </span>
        </div>
        <div class="send-offer-card-content">
            <div class="row">
                <!--<div class="col-md-8">
                    <div class="form-content">
                        <label>Email Id</label>
                        <input type="text" placeholder="Enter Email Id">
                    </div>                                        
                </div>-->
                <div class="col-md-4">
                    <div class="form-content">
                        <label>Price</label>
                        <input type="number" placeholder="Enter Price" name="sellerPrice" #sellerPrice>
                    </div>                                        
                </div>
                <div class="col-md-12">
                    <div class="form-content">
                        <label>Message</label>
                       <textarea rows="5" placeholder="Enter Your Message" name="sellerContent" #sellerContent></textarea>
                    </div> 
                </div>
            </div>
            <div class="send-offer-btn">
                <button (click)="send(sellerPrice.value,sellerContent.value)">Send</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>