<!--<div class="sidebar-content">
    <div class="sidebar-inner-box bg-dark">
        <button class="sidebar-cross"><i class="fa fa-times"></i></button>
        <div class="sidebar-profile">
            <img src="../../../assets/images/avatar/01.jpeg" alt="avatar" class="rounded img-thumbnail">
            <h4 class="mt-2" style=" font-family: 'Poppins-Medium';">Mohamed Thaha</h4>
            <span class="email" style="font-family: 'Nunito-Bold';">mthaha@upspring.it</span>
            <div class="follow-btns">
                <button class="follow">Follow</button>
                <button class="contact">Contact</button>
            </div>
            <div class="social-icon-box">
                <span class="icon-facebook"><i class="fa fa-facebook"></i></span>
                <span class="icon-twitter"><i class="fa fa-twitter"></i></span>
                <span class="icon-insta"><i class="fa fa-instagram"></i></span>
                <span class="icon-linkedin"><i class="fa fa-linkedin"></i></span>
            </div>
            <div class="profile-details">
                <ul>
                    <h3 style="font-size: 20px; margin-top: 0px; margin-left: 10px; margin-bottom: 15px;">User Details</h3>
                    <li>
                        <span style="color: #232d3b;">Name: <span class="usr-name">Mohamed Thaha</span></span>
                    </li>
                    <li>
                        <span>Email: <span class="usr-email">mthaha@upspring.it</span></span>
                    </li>
                    <li>
                        <span>Phone: <span class="usr-phone">8508147326</span></span>
                    </li>
                    <li>
                        <span>Total Ads: <span class="usr-ad">30</span></span>
                    </li>
                    <li>
                        <span>Total Followers: <span class="usr-follow">3</span></span>
                    </li>
                    <li>
                        <span>Total Reviews: <span class="usr-review">5</span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
<div class="sidebar-content">
    <div class="sidebar-inner-box bg-dark">
        <button class="sidebar-cross"><i class="fa fa-times"></i></button>
        <div class="sidebar-profile" *ngFor="let item of socialUser">
            <img *ngIf="initial==false" src="{{item.photoUrl}}" alt="avatar" class="rounded img-thumbnail">
            <a  *ngIf="initial==true" class="rounded img-thumbnail" style="background: cornflowerblue;color: white;font-size: 49px;padding-top: 48px;font-weight: bold;">{{item.photoUrl}}</a>

            <h4 class="mt-2" style=" font-family: 'Poppins-Medium';">{{item.name}}</h4>
            <span class="email" style="font-family: 'Nunito-Bold';">{{item.email}}</span>
            <div class="follow-btns">
                <button class="follow" (click)="myAds()">My Ads</button>
                <button class="follow" routerLink="/edit">Edit</button>
                <button class="contact" (click)="signOut()">Logout</button>
                <button (click)="chats()"> View Chats</button>
            </div>
           <!-- <div class="social-icon-box">
                <span class="icon-facebook"><i class="fa fa-facebook"></i></span>
                <span class="icon-twitter"><i class="fa fa-twitter"></i></span>
                <span class="icon-insta"><i class="fa fa-instagram"></i></span>
                <span class="icon-linkedin"><i class="fa fa-linkedin"></i></span>
            </div>-->
            <div class="profile-details">
                <ul>
                    <h3 style="font-size: 20px; margin-top: 0px; margin-left: 10px; margin-bottom: 15px;">User Details</h3>
                    <li>
                        <span style="color: #232d3b;">Name: <span class="usr-name">{{item.name}}</span></span>
                    </li>
                    <li>
                        <span>Email: <p class="usr-email">{{item.email}}</p></span>
                    </li>
                  <!--  <li *ngIF="item.age!==''">
                        <span>Age: <span class="usr-email">{{item.age}}</span></span>
                    </li>
                    <li *ngIF='item.gender!=""'>
                        <span>Gender: <span class="usr-email">{{item.gender}}</span></span>
                    </li>
                    <li *ngIF='item.phone_number!=""'>
                        <span>Contact No: <span class="usr-email">{{item.phone_number}}</span></span>
                    </li>-->
                  
                </ul>
            </div>
        </div>
    </div>
</div>
