import { Component, OnInit,Inject } from '@angular/core';
import { PostAdsService } from 'src/app/services/post-ads.service';
import { UploadFilesService } from 'src/app/services/upload-files.service';
import { ActivatedRoute, Router } from '@angular/router';
import { DOCUMENT } from '@angular/common'; 
@Component({
  selector: 'app-post-ads',
  templateUrl: './post-ads.component.html',
  styleUrls: ['../../../assets/css/vendor/slick.min.css','../../../assets/css/vendor/bootstrap.min.css','../../../assets/css/custom/main-1.css','../../../assets/css/custom/index-1.css','../../../assets/css/custom/custom-style.css','../../../assets/css/custom/fancy_file_upload.css']
})
export class PostAdsComponent implements OnInit {
  selectedFiles: FileList;
  submitted = false;
  fileList: File[] = [];
listOfFiles: any[] = [];
fileStatus=false;
metadata:any;
metadata2:any;
  constructor(
    private postAdsServices:PostAdsService,
    private uploadService: UploadFilesService,
    private router: Router,
    private route: ActivatedRoute,
    @Inject(DOCUMENT) document) 
    { }

  ngOnInit() {
   
    console.log(this.route.snapshot.paramMap.get('id'));
    this.getCategoryMetadata(this.route.snapshot.paramMap.get('id'));
    document.getElementById("test").style.color="red";
   var ap= document.getElementById("test")
    var el=document.createElement("span");
    el.textContent="Welcome";
    ap.appendChild(el);

  }
  getCategoryMetadata(id) {
    this.postAdsServices.getMetadata(id)
      .subscribe(
        data => {
          //this.currentTutorial = data;
          console.log(data);
          this.metadata=data;
          console.log(this.metadata.length);
          var html="<div class='form-group'> "+
          "<label class='form-label text-dark'>Modal</label> "+
          "<input type='text' class='form-control' name='modal' ngModel placeholder='Ad product Modal' required>"+
         "</div> ";
         var form_group=document.createElement("div");
         form_group.className="form-group";
         var label=document.createElement("label");
         label.className="form-label text-dark";
         label.innerHTML="Modal"
         var input=document.createElement("input");
         input.type="text";
         input.name="modal";
         input.setAttribute("ngModal","");
         input.className="form-control";
         form_group.appendChild(label);
         form_group.appendChild(input);



         var ap= document.getElementById("dynamic-data");
         ap.appendChild(form_group);
        
        },
        error => {
          console.log(error);
        });
  }
  selectFiles(event) {
    console.log("selected"+event.target.files);
   
    this.selectedFiles = event.target.files;
    console.log("selected"+this.selectedFiles);
  
    this.listOfFiles.push(this.selectedFiles)
  }
  
  upload( idx,file) {
   console.log()
    this.uploadService.upload(file,idx).subscribe(event =>{
     if(this.listOfFiles.length - 1 === idx) {
      
        this.fileStatus=true;
    }
    });
    
  }
  test()
  {
    console.log("read..");
  }
  uploadFiles() {
   
  console.log("len"+this.listOfFiles.length);
    for (let i = 0; i < this.listOfFiles.length; i++) {
      console.log(i, this.listOfFiles[i][0].name);
      this.upload(i, this.listOfFiles[i][0]);
     /* if(this.listOfFiles.length - 1 === i) {
        console.log('loop ends');
    }*/
    }
    //this.fileStatus=true;
  }
  saveAds(data) {
   
    console.log("--->"+data.modal);
    console.log("--->"+data.condition);
    console.log("--->"+data.description);
    console.log("--->"+data.image_url1);
    for (let i = 0; i < this.listOfFiles.length; i++) {
      console.log(i, this.listOfFiles[i][0].name);
      if(i==0)
      {
     data.image_url1="https://lutwfileupload.s3.amazonaws.com/"+ this.listOfFiles[i][0].name;
      }
      if(i==1)
      {
     data.image_url2="https://lutwfileupload.s3.amazonaws.com/"+ this.listOfFiles[i][0].name;
      }
      if(i==2)
      {
     data.image_url3="https://lutwfileupload.s3.amazonaws.com/"+ this.listOfFiles[i][0].name;
      }
      if(i==3)
      {
     data.image_url4="https://lutwfileupload.s3.amazonaws.com/"+ this.listOfFiles[i][0].name;
      }
      
    }
    console.log("--->"+data.image_url1);
        this.postAdsServices.saveAd(data)
          .subscribe(
            response => {
              console.log(response);
              this.submitted = true;
            },
            error => {
              console.log(error);
            });
      }
  
}





