
<ngx-slick-carousel class="carousel" 
#slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)"
(breakpoint)="breakpoint($event)"
(afterChange)="afterChange($event)"
(beforeChange)="beforeChange($event)">
<div routerLink="/Ads/{{category.category_name}}" ngxSlickItem *ngFor="let category of categoryList" class="slide-cus" style="border-bottom: 3px solid #333; cursor: pointer;">
    <div class="cus-slick-img">
        <img src="{{category.image_url}}" alt="">
        <h6 class="cus-slick-cat">{{category.category_name}}</h6>
    </div>
</div>
</ngx-slick-carousel>   